# Python Functions

Functions in general are reusable codes organized in a block.

There are types of functions in python

User-define functions

Builtin functions https://docs.python.org/3/library/functions.html


# Advantage of Functions in Python

There are the following advantages of Python functions.

  1) Using functions, we can avoid rewriting the same logic/code again and again in a program.

  2) We can call Python functions multiple times in a program and anywhere in a program.

  3) We can track a large Python program easily when it is divided into multiple functions.

  4)Reusability is the main achievement of Python functions.
However, Function calling is always overhead in a Python program.

Ref: https://www.javatpoint.com/python-functions

# Disadvantages of writing a code without functions

- No Abstraction : we cant hide anything in code for everyone.

- in efficint to reuse :    
          - Redundant Code : if we use same code multiple times 
          - long Code      
          - Difficult to Maintain

- No Generalization : if we used some sort of code multiple places, if we found any change or mistake in that logic, we need to change the code everywhere the same code we have used.

### Creating a Function
- should be executed first before calling the function
- **def** keyword is used to define the function.
- **return** is used to give the output from the function

# Basic syntax for function creation

def function_name (parameters):

  satement 1

  statement 2

  statement 3
  .
  .
  .
  statement n


  return



Note : return and paramenters are optional. we can use function without using
  return and paramenters

- The def keyword, along with the function name is used to define the function.
- The identifier rule must follow the function name.
- A function accepts the parameter (argument), and they can be optional.
- The function block is started with the colon (:), and block statements must be at the same indentation.
- The return statement is used to return the value. A function can have only one return

## Function Calling

syntax : function_name(values)

- should use same function name while calling

In [ ]:
def first_function():
    print("My name is Sandeep")

In [ ]:
first_function()

My name is Sandeep

In [ ]:
a = 10
b = 20
a+b

30

In [ ]:
a = 1
b = 2

a+b

In [ ]:
def test (x,y):
  pass

In [ ]:
test

In [ ]:
test()

TypeError: ignored

In [ ]:
test(23,45)

In [ ]:
# create a function is_even to check whether the given number is even or odd.

def is_even(x) :
  if x %2 == 0 :
    return True
  
  else :
    return False

In [ ]:
is_even(5)

False

In [ ]:
# Adding two numbers
def add(x, y): # x and y are arguments to pass value to a function
    sum = x + y
    return sum # here return is basically used to exit a function

In [ ]:
add(2, 5)

7

In [ ]:
# Adding two numbers
def add(x, y): # x and y are arguments to pass value to a function
    return x + y # here return is basically used to exit a function

In [ ]:
def test1 (x,y):
  print(x+y)

In [ ]:
add(4, 4)

8

In [ ]:
def checking_data_type(a) :
  return type(a)

In [ ]:
checking_data_type(12)

int

In [ ]:
checking_data_type('ram')

str

In [ ]:
# to check the string whether it is palindrome or not

def is_pelindrome(a):

  b = str(a)

  for i in b:
    if b == b[::-1]:
      return True
    
    else :
      return False

In [ ]:
is_pelindrome(121)

True

In [ ]:
is_pelindrome('good')

False

In [ ]:
# code to check the number whether it is prime or not

a = int(input('the number is..'))

for i in range(2,a):
  if a % i == 0 :
    print('its not prime')
    break
else :
  print('its prime')

the number is..23
its prime

In [ ]:
# function to check the number whther it is prime or not

def is_prime(a) :
  for i in range(2,a):
    if a % i == 0:
      return 'not prime'
  else :
    return 'prime'

## Return : 
it will also works as break function itself.So, that we need to use at the end of the total code / sub loop in function

In [ ]:
is_prime(23)

'prime'

In [ ]:
is_prime(21)

'not prime'

In [ ]:
# funtion to get the prime numbers in between 100 and 200

def prime_numbers():

  l = []

  for i in range(100,201):
    if is_prime(i) == 'prime' :
      l.append(i)

  return l

In [ ]:
prime_numbers()

[101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199]

In [ ]:
# to get the list of pelindrome in between 1000 and 2000.

def pelindrome_numbers():
  l = []
  for i in range(1000,2001):
    s = str(i)
    if s == s[::-1] :
      l.append(s)

  return l

In [ ]:
pelindrome_numbers()

['1001',
 '1111',
 '1221',
 '1331',
 '1441',
 '1551',
 '1661',
 '1771',
 '1881',
 '1991']

In [ ]:
# to check the string whether it is palindrome or not

def is_pelindrome(a):

  b = str(a)

  for i in b:
    if b == b[::-1]:
      return True
    
    else :
      return False

In [ ]:
def pelindrome_numbers2():
  l = []
  for i in range(1000,2001):
    s = str(i)
    if is_pelindrome(s) == True :
      l.append(s)

  return l

In [ ]:
pelindrome_numbers2()

['1001',
 '1111',
 '1221',
 '1331',
 '1441',
 '1551',
 '1661',
 '1771',
 '1881',
 '1991']

In [ ]:
# Print if a number is even or odd in a given list

def oddeven(y):
  for i in y:
    if i % 2 == 0:
      print("EVEN")
    else:
      print("ODD")

In [ ]:
oddeven('23')

TypeError: ignored

In [ ]:
test1(30,40)

70

In [ ]:
test1(34,12)

46

In [ ]:
test1(23,32)

55

# SCOPE 

- Types of varialble :        
     - local
     - Globle

Local Variable :              
   the scope of the local variable will be within the limit of function only. we cant get the variable value out side the function

In [ ]:
def demo():
  z = 5

  return z

In [ ]:
demo()

5

In [ ]:
z

NameError: ignored

here varible Z values we cant find out side the function called demo()

In [ ]:
 m = 15

 def demo1():

   return 'the value is',m

In [ ]:
demo1()

('the value is', 15)

In [ ]:
m

15

Here we are creating m variable out side the function. But we are using in function as well.So variable m is worling as gloable variable

In [ ]:
r = 10

def test_1(a,b):
  r = a/b
  print(r)

In [ ]:
test_1(10,10)

1.0

In [ ]:
x = 5
y = 10

def demo2() :
  x = 50 

  print('the value of X inside the function', x)
  print('the value of y inside the function', y)

In [ ]:
demo2()

the value of X inside the function 50
the value of y inside the function 10

In [ ]:
print(x)
print(y)

5
10

Here x value was determined before the function and inside the function.So, it will take local value inside the function .

In [ ]:
demo()

5

In [ ]:
def test2(x,y) :
  return x*y

In [ ]:
test2(2,4)

8

In [ ]:
type(test2(12,34))

int

In [ ]:
test1(12,34)

46

In [ ]:
test2('ram',2)

'ramram'

In [ ]:
type(test2('ram',2))

str

In [ ]:
type(test1(12,34))

46

NoneType

In [ ]:
# in print statement it will give the nontype data type in output
# in return statement the output data type will be adjusted according to your given input and logic inside the function

In [ ]:
a = test2(23,45)

In [ ]:
a

1035

In [ ]:
type(a)

int

In [ ]:
b = test1(34,12)

46

In [ ]:
b

In [ ]:
type(b)

NoneType

In [ ]:
def test3 (n,m) :
  return n*10, m*12, n+m

In [ ]:
test3(12,34)

(120, 408, 46)

In [ ]:
type(test3(12,34))

tuple

In [ ]:
c,x,v = test3(34,56)

In [ ]:
c

340

In [ ]:
x

672

In [ ]:
v

90

In [ ]:
c,x,_  = test3(3,4)

In [ ]:
c

30

In [ ]:
x

48

In [ ]:
_

7

In [ ]:
def test4 () :
  return 'this is my first clss'

In [ ]:
test4()

'this is my first clss'

In [ ]:
a = test4() + 'of ineauron'

In [ ]:
a

'this is my first clssof ineauron'

In [ ]:
def test5 () :
  print('this is my first clss')

In [ ]:
a = test5()

this is my first clss

In [ ]:
a = test5() + 'of inearon'

this is my first clss

TypeError: ignored

In [ ]:
def test(n):
  return n*2

In [ ]:
test([1,2,4,5,6])

[1, 2, 4, 5, 6, 1, 2, 4, 5, 6]

In [ ]:
test(23)

46

# Difference between return and print

- print : the output was saved as none data type. so we cant do any operations after getting output from function if we use print function

- return : the output was adjusted to proper data type automatically.so that we can do some proper operations like +,-,/,*...etc to the output we got if we use return in function.

In [ ]:
def test8 (n):
  return n, n*2

In [ ]:
test8 ([1,2,45,56])

([1, 2, 45, 56], [1, 2, 45, 56, 1, 2, 45, 56])

# Types of Arguments/Parameters

positional /Required arguments

Keyword arguments

Default arguments

variable length argument

# Required and positional arguments

- Number of arguments should be same in definition and call.

- Order should also be same

In [ ]:
def demo5(a,b,c):
  print('the value of a:',  a)
  print('the value of b :', b)
  print('the value of c :', c)

In [ ]:
demo5(2,4,5)

# based on the variable postioanl sequence the variable values will be assigned

the value of a: 2
the value of b : 4
the value of c : 5

In [ ]:
# WAP to check if the given number is odd palindrome, i.e. a palindrome number whose all digits are odd. 
#(Hint: The program should have two functions isPalindrome and isOdd.)
#Input : 131


def is_odd_pelindrome(a):
  b = str(a)

  if b == b[::-1]:
    for i in b:
      if int(i) % 2 == 0:
        return False
    else:
      return True

In [ ]:
is_odd_pelindrome(171)

True

In [ ]:
# WAP to check if the given number is odd palindrome, i.e. a palindrome number whose all digits are odd. 
#(Hint: The program should have two functions isPalindrome and isOdd.)
#Input : 131


def is_peindrome(a):
   b = str(a)

   if b == b[::-1]:
     return True

   else :
      return False

In [ ]:
def check_odd_pelindrome(a):
  b = str(a)
  if is_pelindrome(a) == True:
    for i in b :
      if int(i) %2 == 0:
        return 'its even pelindrome'

      else :
        return 'its odd pelindrome'


  else :
      return 'its not pelindrome'

In [ ]:
check_odd_pelindrome(531)

'its not pelindrome'




# Keyword arguments

- Number of arguments should be same in definition and call.

- Keyword arguments order can be any thing.

- But should be put after required arguments in the function call.

In [ ]:
def demo6(a,b,c):
  print('the value of a:',  a)
  print('the value of b :', b)
  print('the value of c :', c)

In [ ]:
demo6(c = 10,b = 20, a = 14)

the value of a: 14
the value of b : 20
the value of c : 10

# Default arguments

- These are optional arguments.

- Should be put after the non-default arguments in the function definition.

- If not passed in function call, the default behaviour is followed.

In [ ]:
def demo7(a,b,c = 10):
  print('the value of a:',  a)
  print('the value of b :', b)
  print('the value of c :', c)

  # we are giving the default value to c. and default variable should be last in the function defination.
  # if we not mention the c variable value in calling function, by default it will take value of 10 mentioned in function.

In [ ]:
demo7(1,2)

the value of a: 1
the value of b : 2
the value of c : 10

In [ ]:
demo7(1,2,58)

the value of a: 1
the value of b : 2
the value of c : 58

In [ ]:
b = test8([1,34,56])

In [ ]:
b

([1, 34, 56], [1, 34, 56, 1, 34, 56])

In [ ]:
b[0]

[1, 34, 56]

In [ ]:
def test10 (n, m =20):
  return n+m

In [ ]:
test10(12)

32

In [ ]:
test10(10,15)

25

In [ ]:
def boolx(x = True , y = False):
  return x + y

In [ ]:
boolx()

1

In [ ]:
def travel (bike = True, Car = False):
  plan_travel = bike or Car
  return bike, Car, plan_travel

In [ ]:
travel()

(True, False, True)

In [ ]:
# Function / Method Over loading : its only possible by default arguments

In [ ]:
round(2.456)

2

In [ ]:
round(2.456,2)

2.46

In [ ]:
# in same round function...if we provide one vaariable it works in another manner and if we provide 2 variables it works in another manner.

In [ ]:
# Area Example

square = l **2
rectangle = l * b

In [ ]:
def area(length, width = False) :
  if width == False :
    return length**2

  else :
    return length * width

In [ ]:
area(10,40) #rectangle

400

In [ ]:
area(10) # Square

100

# Variable Length Argument

we will not give how many paramenters we should take in function defination. But it will take any number of paramenters by using *args, **kwargs

In [ ]:
def test11(*args):
  return args

In [ ]:
test11('siva','Durga','Prasad',3,45,567)

('siva', 'Durga', 'Prasad', 3, 45, 567)

In [ ]:
def test12(*args):
  return args

In [ ]:
a = test12(122,34,53,[24,45],'dis')

In [ ]:
a

(122, 34, 53, [24, 45], 'dis')

In [ ]:
l = []
for i in a :
  l.append(i)

In [ ]:
l

[122, 34, 53, [24, 45], 'dis']

In [ ]:
def test13 (*args) :
  l = []
  for i in args :
    l = l+i
  return l

In [ ]:
test13([1,2,3,5],[34,65,34],[1,0,5,45])

[1, 2, 3, 5, 34, 65, 34, 1, 0, 5, 45]

In [ ]:
test13('siva',123,[23,45,56],[12,45,90])

TypeError: ignored

In [ ]:
def test14 (*args):
  l = []
  for i in args:
    if type(i) == list:
            l = l+i
  return l

In [ ]:
test14('siva',123,[23,45,56],[12,45,90])

[23, 45, 56, 12, 45, 90]

In [ ]:
def test16(**kwargs):
  return kwargs

In [ ]:
test16(12,34,45,56)

TypeError: ignored

In [ ]:
test16(a = 12,b =13,c = 45,d= 56)

{'a': 12, 'b': 13, 'c': 45, 'd': 56}

In [ ]:
def test17(args,**kwargs):
  return args

In [ ]:
# to create a function take any number of mixed data and try  to create a list  of seperate data based on data type and return multiple results

def fun1(**args):
  a = []
  b = []
  c = []
  d = []
  e =[]
  f = []
  g = []

  for i in args :
    if type(i )== int:
      a.append(i)
    if type(i) == str :
      b.append(i)
    if type(i) == float:
      c.append(i)
    if type(i) == tuple:
      d.append(i)
    if type(i) == bool :
      e.append(i)
    if type(i) == set:
      f.append(i)
    if type(i) == dict:
      g.append(i)

  return a,b,c,d,e,f,g

In [ ]:
def fun3(*args):
  dt ={}
  for i in args:
    if type(i) in dt:
      dt[type(i)] =   i

In [ ]:
# create a function which will be able to use args and kwargs , and it will be able to do all the list value concatination and return a list

def fun2(*args,**kwargs):
  b = []
  c = []
  for i in args:
    if type(i) == list:
      b.append(i)
  for i in kwargs.items() :
    if type(i[1]) == list:
      c.append(i[1])

  return b,c

In [ ]:
fun2([1,2,35,12],[12,45,657,1],3,4,5,6,1,a =10, b= 23,c = 12,d = [1,2,3,4,5,5,6])

([[1, 2, 35, 12], [12, 45, 657, 1]], [[1, 2, 3, 4, 5, 5, 6]])

In [ ]:
def test18 (**kwargs) :
  return kwargs

In [ ]:
test18(a = 12,b =[1,2,3,4],c = 23,d =['siva','durga','prasad'],n = 6+7j)

{'a': 12,
 'b': [1, 2, 3, 4],
 'c': 23,
 'd': ['siva', 'durga', 'prasad'],
 'n': (6+7j)}

In [ ]:
def test19(**kwargs):
  for i in kwargs.items():
    print(i)
  return kwargs

In [ ]:
test19(a = 12,b =[1,2,3,4],c = 23,d =['siva','durga','prasad'],n = 6+7j)

('a', 12)
('b', [1, 2, 3, 4])
('c', 23)
('d', ['siva', 'durga', 'prasad'])
('n', (6+7j))

{'a': 12,
 'b': [1, 2, 3, 4],
 'c': 23,
 'd': ['siva', 'durga', 'prasad'],
 'n': (6+7j)}

In [ ]:
def test20(**kwargs):
  for i in kwargs.items():
    if type(i[1]) == list:
      if 'siva' in i[1]:
        print('i am able to find your name in input data')
        print(i)
  return kwargs

In [ ]:
test20(a = 12,b =[1,2,3,4],c = 23,d =['siva','durga','prasad'],n = 6+7j)

i am able to find your name in input data
('d', ['siva', 'durga', 'prasad'])

{'a': 12,
 'b': [1, 2, 3, 4],
 'c': 23,
 'd': ['siva', 'durga', 'prasad'],
 'n': (6+7j)}

In [ ]:
def test21(name,mail_id):
  return mail_id , name

In [ ]:
test21('siva', 'siva@gamil.com')

('siva@gamil.com', 'siva')

In [ ]:
def test21(name,mail_id):
  con = name + mail_id
  return mail_id , name , con

In [ ]:
test21('siva','ram@gamil.com')

('ram@gamil.com', 'siva', 'sivaram@gamil.com')

Lambda Function / Anonmous Function

In [ ]:
a = 10
b = 15

def test22(x,y):
  return x+y

In [ ]:
test22(a,b)

25

In [ ]:
m = lambda x,y :x +y

In [ ]:
m(a,b)

25

In [ ]:
m('siva','ram')

'sivaram'

In [ ]:
b = 'siva'
c = 'test'
n = lambda arg1, arg2 : print(arg1,arg2)

In [ ]:
n(b,c)

siva test

In [ ]:
help(print)

# Doc string --> the discription of the function to get the knowledge of function to the developer to use the function in proper manner

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
def test24():
  print('my name is assf')

In [ ]:
test24()

my name is assf

In [ ]:
help(test24)

Help on function test24 in module __main__:

test24()

In [ ]:
def test25():
  '''
  this is the test function with the help of this function you will be able to learn basic of fun

  '''

  print('my name is xyz')

In [ ]:
help(test25)

Help on function test25 in module __main__:

test25()
    this is the test function with the help of this function you will be able to learn basic of fun

In [1]:
 a = 10

 for i in a :
   print(a)

TypeError: ignored

In [2]:
for i in 'siva':
  print(i)

s
i
v
a

In [3]:
s = 'durga'

next(s)

TypeError: ignored

In [4]:
x = iter(s)

In [5]:
next(x)

'd'

In [8]:
next(x)

'u'

In [6]:
a = 20
next(a)

TypeError: ignored

In [7]:
iter(a)

TypeError: ignored

In [9]:
 b= 'siva'

In [10]:
c = iter(b)

In [11]:
next(c)

's'

In [12]:
next(c)

'i'

In [13]:
next(c)

'v'

In [14]:
next(c)

'a'

In [15]:
next(c)

StopIteration: ignored

In [16]:
l = [1,2,3,4,5,6]

In [17]:
next(l)

TypeError: ignored

In [19]:
a = iter(l)

In [20]:
next(a)

1

In [21]:
next(a)

2

In [22]:
next(a)

3

In [23]:
next(a)

4

In [24]:
next(a)

5

In [25]:
next(a)

6

In [26]:
next(a)

StopIteration: ignored

In [27]:
def testa(n) :
  l = []
  for i in range(n):
    l.append(i**3)


  return l

In [28]:
testa(6)

[0, 1, 8, 27, 64, 125]

In [29]:
testa(600)

[0,
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000,
 1030301,
 1061208,
 1092727,
 1124864,
 1157625,
 1191016,
 1225043,
 1259712,
 1295029,
 1331000,
 1367631,
 1404928,
 1442897,
 1481544,
 1520875,
 1560896,
 1601613,
 1643032,
 1685159,
 1728000,
 1771561,
 1815848,
 1860867,
 1906624,
 1953125,
 2000376,
 2048383,
 2097152,
 2146689,
 2197000,
 2248091,
 2299968,
 2352637,
 2406104,
 2460375,
 2515456,
 2571353,
 2628072,
 2685619,
 2744000,
 2803221,
 2863288,
 2924207,
 2985984,
 3048625,
 3112136,
 3176523,
 3241792,
 3307949,
 3375000,
 3442951,
 3511808,
 3581577,
 3652264,
 3723875,
 3796416,
 3869893,
 3944312,
 4019679,
 4096000,
 4173281,
 4251528,
 4330747,
 4410944,
 4492125,
 4574296,
 4657463,
 4741632,
 4826809,
 4913000,
 5000211,
 5088448,
 5177717,
 5268024,
 5359375,
 5451776,
 5545233,
 5639752,
 5735339,
 5832000,
 5929741,
 6028568,
 6128487,
 6229504,
 6331625,
 6434856,
 6539203,
 6644672,
 6751269,
 6859000,
 6967871,
 7077888,
 7189057,
 7301384,
 7414875,
 7529536,
 7645373,
 7762392,
 7880599,
 8000000,
 8120601,
 8242408,
 8365427,
 8489664,
 8615125,
 8741816,
 8869743,
 8998912,
 9129329,
 9261000,
 9393931,
 9528128,
 9663597,
 9800344,
 9938375,
 10077696,
 10218313,
 10360232,
 10503459,
 10648000,
 10793861,
 10941048,
 11089567,
 11239424,
 11390625,
 11543176,
 11697083,
 11852352,
 12008989,
 12167000,
 12326391,
 12487168,
 12649337,
 12812904,
 12977875,
 13144256,
 13312053,
 13481272,
 13651919,
 13824000,
 13997521,
 14172488,
 14348907,
 14526784,
 14706125,
 14886936,
 15069223,
 15252992,
 15438249,
 15625000,
 15813251,
 16003008,
 16194277,
 16387064,
 16581375,
 16777216,
 16974593,
 17173512,
 17373979,
 17576000,
 17779581,
 17984728,
 18191447,
 18399744,
 18609625,
 18821096,
 19034163,
 19248832,
 19465109,
 19683000,
 19902511,
 20123648,
 20346417,
 20570824,
 20796875,
 21024576,
 21253933,
 21484952,
 21717639,
 21952000,
 22188041,
 22425768,
 22665187,
 22906304,
 23149125,
 23393656,
 23639903,
 23887872,
 24137569,
 24389000,
 24642171,
 24897088,
 25153757,
 25412184,
 25672375,
 25934336,
 26198073,
 26463592,
 26730899,
 27000000,
 27270901,
 27543608,
 27818127,
 28094464,
 28372625,
 28652616,
 28934443,
 29218112,
 29503629,
 29791000,
 30080231,
 30371328,
 30664297,
 30959144,
 31255875,
 31554496,
 31855013,
 32157432,
 32461759,
 32768000,
 33076161,
 33386248,
 33698267,
 34012224,
 34328125,
 34645976,
 34965783,
 35287552,
 35611289,
 35937000,
 36264691,
 36594368,
 36926037,
 37259704,
 37595375,
 37933056,
 38272753,
 38614472,
 38958219,
 39304000,
 39651821,
 40001688,
 40353607,
 40707584,
 41063625,
 41421736,
 41781923,
 42144192,
 42508549,
 42875000,
 43243551,
 43614208,
 43986977,
 44361864,
 44738875,
 45118016,
 45499293,
 45882712,
 46268279,
 46656000,
 47045881,
 47437928,
 47832147,
 48228544,
 48627125,
 49027896,
 49430863,
 49836032,
 50243409,
 50653000,
 51064811,
 51478848,
 51895117,
 52313624,
 52734375,
 53157376,
 53582633,
 54010152,
 54439939,
 54872000,
 55306341,
 55742968,
 56181887,
 56623104,
 57066625,
 57512456,
 57960603,
 58411072,
 58863869,
 59319000,
 59776471,
 60236288,
 60698457,
 61162984,
 61629875,
 62099136,
 62570773,
 63044792,
 63521199,
 64000000,
 64481201,
 64964808,
 65450827,
 65939264,
 66430125,
 66923416,
 67419143,
 67917312,
 68417929,
 68921000,
 69426531,
 69934528,
 70444997,
 70957944,
 71473375,
 71991296,
 72511713,
 73034632,
 73560059,
 74088000,
 74618461,
 75151448,
 75686967,
 76225024,
 76765625,
 77308776,
 77854483,
 78402752,
 78953589,
 79507000,
 80062991,
 80621568,
 81182737,
 81746504,
 82312875,
 82881856,
 83453453,
 84027672,
 84604519,
 85184000,
 85766121,
 86350888,
 86938307,
 87528384,
 88121125,
 88716536,
 89314623,
 89915392,
 90518849,
 91125000,
 91733851,
 92345408,
 92959677,
 93576664,
 94196375,
 94818816,
 95443993,
 96071912,
 96702579,
 97336000,
 97972181,
 98611128,
 99252847,
 99897344,
 100544625,
 101194696,
 101847563,
 102503232,
 103161709,
 103823000,
 104487111,
 105154048,
 105823817,
 106496424,
 107171875,
 107850176,
 108531333,
 109215352,
 109902239,
 110592000,
 111284641,
 111980168,
 112678587,
 113379904,
 114084125,
 114791256,
 115501303,
 116214272,
 116930169,
 117649000,
 118370771,
 119095488,
 119823157,
 120553784,
 121287375,
 122023936,
 122763473,
 123505992,
 124251499,
 125000000,
 125751501,
 126506008,
 127263527,
 128024064,
 128787625,
 129554216,
 130323843,
 131096512,
 131872229,
 132651000,
 133432831,
 134217728,
 135005697,
 135796744,
 136590875,
 137388096,
 138188413,
 138991832,
 139798359,
 140608000,
 141420761,
 142236648,
 143055667,
 143877824,
 144703125,
 145531576,
 146363183,
 147197952,
 148035889,
 148877000,
 149721291,
 150568768,
 151419437,
 152273304,
 153130375,
 153990656,
 154854153,
 155720872,
 156590819,
 157464000,
 158340421,
 159220088,
 160103007,
 160989184,
 161878625,
 162771336,
 163667323,
 164566592,
 165469149,
 166375000,
 167284151,
 168196608,
 169112377,
 170031464,
 170953875,
 171879616,
 172808693,
 173741112,
 174676879,
 175616000,
 176558481,
 177504328,
 178453547,
 179406144,
 180362125,
 181321496,
 182284263,
 183250432,
 184220009,
 185193000,
 186169411,
 187149248,
 188132517,
 189119224,
 190109375,
 191102976,
 192100033,
 193100552,
 194104539,
 195112000,
 196122941,
 197137368,
 198155287,
 199176704,
 200201625,
 201230056,
 202262003,
 203297472,
 204336469,
 205379000,
 206425071,
 207474688,
 208527857,
 209584584,
 210644875,
 211708736,
 212776173,
 213847192,
 214921799]

In [30]:
testa(6000000)

[0,
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000,
 1030301,
 1061208,
 1092727,
 1124864,
 1157625,
 1191016,
 1225043,
 1259712,
 1295029,
 1331000,
 1367631,
 1404928,
 1442897,
 1481544,
 1520875,
 1560896,
 1601613,
 1643032,
 1685159,
 1728000,
 1771561,
 1815848,
 1860867,
 1906624,
 1953125,
 2000376,
 2048383,
 2097152,
 2146689,
 2197000,
 2248091,
 2299968,
 2352637,
 2406104,
 2460375,
 2515456,
 2571353,
 2628072,
 2685619,
 2744000,
 2803221,
 2863288,
 2924207,
 2985984,
 3048625,
 3112136,
 3176523,
 3241792,
 3307949,
 3375000,
 3442951,
 3511808,
 3581577,
 3652264,
 3723875,
 3796416,
 3869893,
 3944312,
 4019679,
 4096000,
 4173281,
 4251528,
 4330747,
 4410944,
 4492125,
 4574296,
 4657463,
 4741632,
 4826809,
 4913000,
 5000211,
 5088448,
 5177717,
 5268024,
 5359375,
 5451776,
 5545233,
 5639752,
 5735339,
 5832000,
 5929741,
 6028568,
 6128487,
 6229504,
 6331625,
 6434856,
 6539203,
 6644672,
 6751269,
 6859000,
 6967871,
 7077888,
 7189057,
 7301384,
 7414875,
 7529536,
 7645373,
 7762392,
 7880599,
 8000000,
 8120601,
 8242408,
 8365427,
 8489664,
 8615125,
 8741816,
 8869743,
 8998912,
 9129329,
 9261000,
 9393931,
 9528128,
 9663597,
 9800344,
 9938375,
 10077696,
 10218313,
 10360232,
 10503459,
 10648000,
 10793861,
 10941048,
 11089567,
 11239424,
 11390625,
 11543176,
 11697083,
 11852352,
 12008989,
 12167000,
 12326391,
 12487168,
 12649337,
 12812904,
 12977875,
 13144256,
 13312053,
 13481272,
 13651919,
 13824000,
 13997521,
 14172488,
 14348907,
 14526784,
 14706125,
 14886936,
 15069223,
 15252992,
 15438249,
 15625000,
 15813251,
 16003008,
 16194277,
 16387064,
 16581375,
 16777216,
 16974593,
 17173512,
 17373979,
 17576000,
 17779581,
 17984728,
 18191447,
 18399744,
 18609625,
 18821096,
 19034163,
 19248832,
 19465109,
 19683000,
 19902511,
 20123648,
 20346417,
 20570824,
 20796875,
 21024576,
 21253933,
 21484952,
 21717639,
 21952000,
 22188041,
 22425768,
 22665187,
 22906304,
 23149125,
 23393656,
 23639903,
 23887872,
 24137569,
 24389000,
 24642171,
 24897088,
 25153757,
 25412184,
 25672375,
 25934336,
 26198073,
 26463592,
 26730899,
 27000000,
 27270901,
 27543608,
 27818127,
 28094464,
 28372625,
 28652616,
 28934443,
 29218112,
 29503629,
 29791000,
 30080231,
 30371328,
 30664297,
 30959144,
 31255875,
 31554496,
 31855013,
 32157432,
 32461759,
 32768000,
 33076161,
 33386248,
 33698267,
 34012224,
 34328125,
 34645976,
 34965783,
 35287552,
 35611289,
 35937000,
 36264691,
 36594368,
 36926037,
 37259704,
 37595375,
 37933056,
 38272753,
 38614472,
 38958219,
 39304000,
 39651821,
 40001688,
 40353607,
 40707584,
 41063625,
 41421736,
 41781923,
 42144192,
 42508549,
 42875000,
 43243551,
 43614208,
 43986977,
 44361864,
 44738875,
 45118016,
 45499293,
 45882712,
 46268279,
 46656000,
 47045881,
 47437928,
 47832147,
 48228544,
 48627125,
 49027896,
 49430863,
 49836032,
 50243409,
 50653000,
 51064811,
 51478848,
 51895117,
 52313624,
 52734375,
 53157376,
 53582633,
 54010152,
 54439939,
 54872000,
 55306341,
 55742968,
 56181887,
 56623104,
 57066625,
 57512456,
 57960603,
 58411072,
 58863869,
 59319000,
 59776471,
 60236288,
 60698457,
 61162984,
 61629875,
 62099136,
 62570773,
 63044792,
 63521199,
 64000000,
 64481201,
 64964808,
 65450827,
 65939264,
 66430125,
 66923416,
 67419143,
 67917312,
 68417929,
 68921000,
 69426531,
 69934528,
 70444997,
 70957944,
 71473375,
 71991296,
 72511713,
 73034632,
 73560059,
 74088000,
 74618461,
 75151448,
 75686967,
 76225024,
 76765625,
 77308776,
 77854483,
 78402752,
 78953589,
 79507000,
 80062991,
 80621568,
 81182737,
 81746504,
 82312875,
 82881856,
 83453453,
 84027672,
 84604519,
 85184000,
 85766121,
 86350888,
 86938307,
 87528384,
 88121125,
 88716536,
 89314623,
 89915392,
 90518849,
 91125000,
 91733851,
 92345408,
 92959677,
 93576664,
 94196375,
 94818816,
 95443993,
 96071912,
 96702579,
 97336000,
 97972181,
 98611128,
 99252847,
 99897344,
 100544625,
 101194696,
 101847563,
 102503232,
 103161709,
 103823000,
 104487111,
 105154048,
 105823817,
 106496424,
 107171875,
 107850176,
 108531333,
 109215352,
 109902239,
 110592000,
 111284641,
 111980168,
 112678587,
 113379904,
 114084125,
 114791256,
 115501303,
 116214272,
 116930169,
 117649000,
 118370771,
 119095488,
 119823157,
 120553784,
 121287375,
 122023936,
 122763473,
 123505992,
 124251499,
 125000000,
 125751501,
 126506008,
 127263527,
 128024064,
 128787625,
 129554216,
 130323843,
 131096512,
 131872229,
 132651000,
 133432831,
 134217728,
 135005697,
 135796744,
 136590875,
 137388096,
 138188413,
 138991832,
 139798359,
 140608000,
 141420761,
 142236648,
 143055667,
 143877824,
 144703125,
 145531576,
 146363183,
 147197952,
 148035889,
 148877000,
 149721291,
 150568768,
 151419437,
 152273304,
 153130375,
 153990656,
 154854153,
 155720872,
 156590819,
 157464000,
 158340421,
 159220088,
 160103007,
 160989184,
 161878625,
 162771336,
 163667323,
 164566592,
 165469149,
 166375000,
 167284151,
 168196608,
 169112377,
 170031464,
 170953875,
 171879616,
 172808693,
 173741112,
 174676879,
 175616000,
 176558481,
 177504328,
 178453547,
 179406144,
 180362125,
 181321496,
 182284263,
 183250432,
 184220009,
 185193000,
 186169411,
 187149248,
 188132517,
 189119224,
 190109375,
 191102976,
 192100033,
 193100552,
 194104539,
 195112000,
 196122941,
 197137368,
 198155287,
 199176704,
 200201625,
 201230056,
 202262003,
 203297472,
 204336469,
 205379000,
 206425071,
 207474688,
 208527857,
 209584584,
 210644875,
 211708736,
 212776173,
 213847192,
 214921799,
 216000000,
 217081801,
 218167208,
 219256227,
 220348864,
 221445125,
 222545016,
 223648543,
 224755712,
 225866529,
 226981000,
 228099131,
 229220928,
 230346397,
 231475544,
 232608375,
 233744896,
 234885113,
 236029032,
 237176659,
 238328000,
 239483061,
 240641848,
 241804367,
 242970624,
 244140625,
 245314376,
 246491883,
 247673152,
 248858189,
 250047000,
 251239591,
 252435968,
 253636137,
 254840104,
 256047875,
 257259456,
 258474853,
 259694072,
 260917119,
 262144000,
 263374721,
 264609288,
 265847707,
 267089984,
 268336125,
 269586136,
 270840023,
 272097792,
 273359449,
 274625000,
 275894451,
 277167808,
 278445077,
 279726264,
 281011375,
 282300416,
 283593393,
 284890312,
 286191179,
 287496000,
 288804781,
 290117528,
 291434247,
 292754944,
 294079625,
 295408296,
 296740963,
 298077632,
 299418309,
 300763000,
 302111711,
 303464448,
 304821217,
 306182024,
 307546875,
 308915776,
 310288733,
 311665752,
 313046839,
 314432000,
 315821241,
 317214568,
 318611987,
 320013504,
 321419125,
 322828856,
 324242703,
 325660672,
 327082769,
 328509000,
 329939371,
 331373888,
 332812557,
 334255384,
 335702375,
 337153536,
 338608873,
 340068392,
 341532099,
 343000000,
 344472101,
 345948408,
 347428927,
 348913664,
 350402625,
 351895816,
 353393243,
 354894912,
 356400829,
 357911000,
 359425431,
 360944128,
 362467097,
 363994344,
 365525875,
 367061696,
 368601813,
 370146232,
 371694959,
 373248000,
 374805361,
 376367048,
 377933067,
 379503424,
 381078125,
 382657176,
 384240583,
 385828352,
 387420489,
 389017000,
 390617891,
 392223168,
 393832837,
 395446904,
 397065375,
 398688256,
 400315553,
 401947272,
 403583419,
 405224000,
 406869021,
 408518488,
 410172407,
 411830784,
 413493625,
 415160936,
 416832723,
 418508992,
 420189749,
 421875000,
 423564751,
 425259008,
 426957777,
 428661064,
 430368875,
 432081216,
 433798093,
 435519512,
 437245479,
 438976000,
 440711081,
 442450728,
 444194947,
 445943744,
 447697125,
 449455096,
 451217663,
 452984832,
 454756609,
 456533000,
 458314011,
 460099648,
 461889917,
 463684824,
 465484375,
 467288576,
 469097433,
 470910952,
 472729139,
 474552000,
 476379541,
 478211768,
 480048687,
 481890304,
 483736625,
 485587656,
 487443403,
 489303872,
 491169069,
 493039000,
 494913671,
 496793088,
 498677257,
 500566184,
 502459875,
 504358336,
 506261573,
 508169592,
 510082399,
 512000000,
 513922401,
 515849608,
 517781627,
 519718464,
 521660125,
 523606616,
 525557943,
 527514112,
 529475129,
 531441000,
 533411731,
 535387328,
 537367797,
 539353144,
 541343375,
 543338496,
 545338513,
 547343432,
 549353259,
 551368000,
 553387661,
 555412248,
 557441767,
 559476224,
 561515625,
 563559976,
 565609283,
 567663552,
 569722789,
 571787000,
 573856191,
 575930368,
 578009537,
 580093704,
 582182875,
 584277056,
 586376253,
 588480472,
 590589719,
 592704000,
 594823321,
 596947688,
 599077107,
 601211584,
 603351125,
 605495736,
 607645423,
 609800192,
 611960049,
 614125000,
 616295051,
 618470208,
 620650477,
 622835864,
 625026375,
 627222016,
 629422793,
 631628712,
 633839779,
 636056000,
 638277381,
 640503928,
 642735647,
 644972544,
 647214625,
 649461896,
 651714363,
 653972032,
 656234909,
 658503000,
 660776311,
 663054848,
 665338617,
 667627624,
 669921875,
 672221376,
 674526133,
 676836152,
 679151439,
 681472000,
 683797841,
 686128968,
 688465387,
 690807104,
 693154125,
 695506456,
 697864103,
 700227072,
 702595369,
 704969000,
 707347971,
 709732288,
 712121957,
 714516984,
 716917375,
 719323136,
 721734273,
 724150792,
 726572699,
 729000000,
 731432701,
 733870808,
 736314327,
 738763264,
 741217625,
 743677416,
 746142643,
 748613312,
 751089429,
 753571000,
 756058031,
 758550528,
 761048497,
 763551944,
 766060875,
 768575296,
 771095213,
 773620632,
 776151559,
 778688000,
 781229961,
 783777448,
 786330467,
 788889024,
 791453125,
 794022776,
 796597983,
 799178752,
 801765089,
 804357000,
 806954491,
 809557568,
 812166237,
 814780504,
 817400375,
 820025856,
 822656953,
 825293672,
 827936019,
 830584000,
 833237621,
 835896888,
 838561807,
 841232384,
 843908625,
 846590536,
 849278123,
 851971392,
 854670349,
 857375000,
 860085351,
 862801408,
 865523177,
 868250664,
 870983875,
 873722816,
 876467493,
 879217912,
 881974079,
 884736000,
 887503681,
 890277128,
 893056347,
 895841344,
 898632125,
 901428696,
 904231063,
 907039232,
 909853209,
 912673000,
 915498611,
 918330048,
 921167317,
 924010424,
 926859375,
 929714176,
 932574833,
 935441352,
 938313739,
 941192000,
 944076141,
 946966168,
 949862087,
 952763904,
 955671625,
 958585256,
 961504803,
 964430272,
 967361669,
 970299000,
 973242271,
 976191488,
 979146657,
 982107784,
 985074875,
 988047936,
 991026973,
 994011992,
 997002999,
 ...]

In [31]:
def testb(n) :
  for i in range(n):
    yield i**3

In [33]:
testb(5)

In [34]:
for i in testb(5) :
  print(i)

0
1
8
27
64

In [35]:
# yield is generator function used to give the data in runtime. if we have a large number in n value , it will give the vlues in runtime until the 
# process will be complete.

In [1]:
def fibn(n) :

  a = 1
  b = 1
  c = []
  for i in range(n):
    c.append(a)
    a,b = b, a+b
  return c

In [2]:
fibn(7)

[1, 1, 2, 3, 5, 8, 13]

In [4]:
def fibn1(n) :

  a = 1
  b = 1
 
  for i in range(n):
    yield a
    a,b = b, a+b

In [5]:
fibn1(7)

In [8]:
for i in fibn1(6):
  print(i)

1
1
2
3
5
8