### Data Structures
Sequence types

1) A sequence is an ordered collection of items

2) The word ordered there is important

3) If a sequence was not ordered, you couldn't refer to individual items by their index position.

https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range

*   Four common built in data structures are list, tuples, dictionary and sets
*   Similar to file container use to store data. For example: DS ID may contain many information.

*   Different files may have different way to store the data. For example: excel, csv, json



## List

# Properties of a list

Denoted by [ ] and seperated by ,

Ordered data structures

Allow all the data types and duplicates and can also contain other data structures also

Mutable (Can we change it or not)

Can be accessed by index

In [ ]:
a = [5, 7, 8, 9] # List a
b = [5, 8, 7, 9] # List b

In [ ]:
a == b # comparing a and b if they are equal or not

False

An ordered collection of objects.

Order is maintained lifetime

List containing same elements in different orders are not same

In [ ]:
a is b # is and is not are identity operators
# Returns True if both variables are the same object

False

In [ ]:
a is not b
# Returns True if both variables are not the same objectl  = ["sudh" , 234,45.56, [45,56,6,"c"] , True]

True

In [ ]:
l = ['sudh', 234, 45.56, [45, 56, 6, 'c'],3+5j]

In [ ]:
for i in l :
    print(i)

sudh
234
45.56
[45, 56, 6, 'c']
(3+5j)

In [ ]:
l[0]

'sudh'

In [ ]:
l[::-1]

[(3+5j), [45, 56, 6, 'c'], 45.56, 234, 'sudh']

In [ ]:
for i in l :
    if type(i)== list :
        print("this is a list " ,i)
    else :
        print("no element is not a list ", i)

no element is not a list  sudh
no element is not a list  234
no element is not a list  45.56
this is a list  [45, 56, 6, 'c']
no element is not a list  (3+5j)

In [ ]:
l

['sudh', 234, 45.56, [45, 56, 6, 'c'], (3+5j)]

In [ ]:
l1= [345,2345, "ineuron" , "tech "]

In [ ]:
l + l1

['sudh', 234, 45.56, [45, 56, 6, 'c'], True, 345, 2345, 'ineuron', 'tech ']

In [ ]:
l * 2

['sudh',
 234,
 45.56,
 [45, 56, 6, 'c'],
 True,
 'sudh',
 234,
 45.56,
 [45, 56, 6, 'c'],
 True]

In [ ]:
len(l)

5

### Type casting

In [ ]:
Virat_score = 52, 17, 59, 60, 32
Virat_score

(52, 17, 59, 60, 32)

In [ ]:
type(Virat_score)

tuple

In [ ]:
Virat_score = list(Virat_score)
Virat_score

[52, 17, 59, 60, 32]

In [ ]:
type(Virat_score)

list

### Membership Operator

In [ ]:
234  in l

True

In [ ]:
234 not in l

False

In [ ]:
print(max([2,3,4,5,45.56]))

45.56

In [ ]:
max(["sdfs","sdfs" , 234])

TypeError: '>' not supported between instances of 'int' and 'str'

In [ ]:
max(["sudh" , "ineruon" , "AI","z"])

'z'

In [ ]:
min(["fsdfa3434","fsd","fsdfaaaaaaaaa","a" , "A"])

'A'

In [ ]:
min([2,3,4,5,0])

0

In [ ]:
min("34345",234,234.345,"344")

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
l = [1,2,3,4]

In [ ]:
l.append(6+6j)

In [ ]:
l

[1, 2, 3, 4, 'sudh', [1, 2, 3, 4, 4], (6+6j)]

In [ ]:
l

[1, 2, 3, 4, 'sudh', [1, 2, 3, 4, 4], (6+6j)]

In [ ]:
l + "sudh"

TypeError: can only concatenate list (not "str") to list

In [ ]:
l.append("sudh")

In [ ]:
l

[1, 2, 3, 4, 'sudh', [1, 2, 3, 4, 4], (6+6j), 'sudh']

In [ ]:
l = [1,2,3,4,5]

In [ ]:
l.append("sudh")

In [ ]:
l

[1, 2, 3, 4, 5, 'sudh']

In [ ]:
l.insert(3,"ineuron")

In [ ]:
l

[1, 2, 3, 'ineuron', 4, 5, 'sudh']

In [ ]:
l.insert(-1 , "test")

In [ ]:
#List insert()
thislist = [1,2,3]
thislist.insert(1, 7)
print(thislist)

[1, 7, 2, 3]

In [ ]:
l

['test', 1, 2, 3, 'ineuron', 4, 5, 'test', 'test', 'sudh']

In [ ]:
l

['test', 1, 2, 3, 'ineuron', 4, 5, 'test', 'test', 'sudh']

In [ ]:
l.insert(-1 , "test2")

In [ ]:
l

['test', 1, 2, 3, 'ineuron', 4, 5, 'test', 'test', 'test2', 'sudh']

In [ ]:
l

['test', 1, 2, 3, 'ineuron', 4, 5, 'test', 'test', 'test2', 'sudh']

In [ ]:
#list count()
list1 = [10,20,30,40,10]
num = 10
res1 = list1.count(num)
print(res1)

2

In [ ]:
l.count("test")

3

In [ ]:
l = [1,2,3,4]

In [ ]:
l.append([3,4,7,89])

In [ ]:
l

[1, 2, 3, 4, 'sudh', [1, 2, 4, 56], 't', 'e', 's', 't', '1', 67, [3, 4, 7, 89]]

In [ ]:
l.append([1,2,4,56])

In [ ]:
l

[1, 2, 3, 4]

In [ ]:
l.extend([3,4,7,89,["sdfusdf",4,5]])

In [ ]:
l

[1, 2, 3, 4, 3, 4, 7, 89, 3, 4, 7, 89, ['sdfusdf', 4, 5]]

In [ ]:
s = "test"
list(s)

['t', 'e', 's', 't']

In [ ]:
l

[1, 2, 3, 4, 3, 4, 7, 89, 3, 4, 7, 89, ['sdfusdf', 4, 5]]

In [ ]:
l.index(3)

2

In [ ]:
l = [2,3,4,5,6,7]

In [ ]:
l.pop(0)

2

In [ ]:
l

[3, 4, 5, 6]

In [ ]:
l = [4,5,6,6,6,6,6,7,8,9]

In [ ]:
#List remove()
thislist = [7,9,10]
thislist.remove(10)
print(thislist)

[7, 9]

In [ ]:
l.remove(6)

In [ ]:
l

[4, 5, 7, 8, 9]

In [ ]:
l

[4, 5, 7, 8, 9]

In [ ]:
l.reverse()

In [ ]:
l

[9, 8, 7, 5, 4]

In [ ]:
#List sort()
list1 = [1,5,4,7,5,9]
list1.sort()
print(list1)

[1, 4, 5, 5, 7, 9]

In [ ]:
list1.sort(reverse = True)
list1

[9, 7, 5, 5, 4, 1]

In [ ]:
l.sort()

In [ ]:
l

[4, 5, 7, 8, 9]

In [ ]:
l = [3,4,5,6,78,"sudh" , "ineuron" , 45.67]

In [ ]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
l = [3,4,5,6,78 , 45.67]

In [ ]:
l.sort()

In [ ]:
#List reverse() Method
list1 = [1,2,3,4,3]
list1.reverse()
print(list1)

[3, 4, 3, 2, 1]

In [ ]:
l

[3, 4, 5, 6, 45.67, 78]

In [ ]:
#create list even numbers between 10 to 50
a = []

for i in range(10,51):
  if i%2 ==0 :
     a.append(i)

print(a)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

### Structural Equilance and Object Identity

In [ ]:
a = [10, 20, 30]

b = a

b.append(40)

# here object and structure are equal by giving '=' operator.
# means for the value [10, 20, 30] we are storing in some area, but we are giving stored space id as both a & b.
#so, if any changes happend in stores data by using any object a or b, it will automatically effect the other as well. 
#here structure and objects are equal.

In [ ]:
print(a)
print(b)

[10, 20, 30, 40]
[10, 20, 30, 40]

In [ ]:
print(id(a),id(b))

140150043698240 140150043698240

In [ ]:
a = [10, 20, 30]
b = a

In [ ]:
b.append(40)
b

[10, 20, 30, 40]

In [ ]:
a

[10, 20, 30, 40]

In [ ]:
a = [10, 20, 30]
b = a.copy()

b.append(40)

# here we are creating another space in memory to store the data samae as object a. initially it means, the structure of the b will take the 
#structure from b but it will store the data in another space .
# so here object is different and intially structure is same in when doing the copy operation.

In [ ]:
print(a)
print(b)

[10, 20, 30]
[10, 20, 30, 40]

In [ ]:
print(id(a),id(b))

140150044297408 140150043614336

In [ ]:
# write a python programme to count the number of strings where the strng length is 2 or more and the first and last character are the same .
#Example :['abc','xyz','aba','1221']

a = ['abc','xyz','aba','1221']
c = 0
for i in a:
  if type(i) == str:
    
    if len(i) >= 2 :
       
        if i[0] == i[-1]:
          c = c+1
         

print(c)

2

In [ ]:
l = [[1,2,3,4],[5,6,7,"hello",8],[8,7,66],2,6]
l.append([2,3,4])
l.append(8+6j)
l.append([5,6,7])
for i in l:

  if type(i) == list:
    for j,v in enumerate(i):
      
      if type(v) == str:
        print("index of string: ",j)
        i[j]="hi"
    print(i[1])
print(l)

2
index of string:  3
6
7
3
6
[[1, 2, 3, 4], [5, 6, 7, 'hi', 8], [8, 7, 66], 2, 6, [2, 3, 4], (8+6j), [5, 6, 7]]

In [ ]:
l=[[1,2,3],[4,5,6],[7,8,9,'xyz','xyz','xyz'],10, 'vishal', True]
# part1
l.insert(2,[11,12])
l.insert(-1,[13,14])
l.append(12+3j)

In [ ]:
for i in l:
    if type(i) == list:
        for j in i:
            if type(j) == str:
                print(l.index(i))

3
3
3

In [ ]:
l

[[1, 2, 3],
 [4, 5, 6],
 [11, 12],
 [7, 8, 9, 'xyz'],
 10,
 'vishal',
 [13, 14],
 True,
 (12+3j)]

In [ ]:
l=[[1,2,3],[4,5,6],[7,8,9,'xyz'],10, 'vishal', True]
# part1
l.insert(2,[11,12])
l.insert(-1,[13,14])
l.append(12+3j)
print(l)
# part2
for i in l:
    if type(i) == list:
        for j in i:
            if type(j) == str:
                print(l.index(i))
#part3
for i in l:
    if type(i)==list:
        print(i.pop(2))

[[1, 2, 3], [4, 5, 6], [11, 12], [7, 8, 9, 'xyz'], 10, 'vishal', [13, 14], True, (12+3j)]
3
3
6

IndexError: ignored

In [ ]:
l = [[23,45],[6,7,'78S','543'],'ABC','REV']

#Q1

l.insert(2,['sdf','sdf'])
print(l)
l.insert(3,[11,12])
print(l)
l.insert(1,(2+3j))
print('After complex number- ',l)
l

[[23, 45], [6, 7, '78S', '543'], ['sdf', 'sdf'], 'ABC', 'REV']
[[23, 45], [6, 7, '78S', '543'], ['sdf', 'sdf'], [11, 12], 'ABC', 'REV']
After complex number-  [[23, 45], (2+3j), [6, 7, '78S', '543'], ['sdf', 'sdf'], [11, 12], 'ABC', 'REV']

[[23, 45],
 (2+3j),
 [6, 7, '78S', '543'],
 ['sdf', 'sdf'],
 [11, 12],
 'ABC',
 'REV']

In [ ]:
#Q2
for i in l:
    if type(i) == list:
        for j in i:
            if type(j) == str:
                print('Found String in Neasted List at index={} : {}'.format(i,j))
                print('Removed',j)
                i.remove(j)

print('List after remove ',l)

Found String in Neasted List at index=[6, 7, '78S', '543'] : 78S
Removed 78S
Found String in Neasted List at index=['sdf', 'sdf'] : sdf
Removed sdf
List after remove  [[23, 45], (2+3j), [6, 7, '543'], ['sdf'], [11, 12], 'ABC', 'REV']

In [ ]:
l=[[1,'2'],[10,11],[20,21],'3',4,5]
c=[1+2j,3+5j]

# question 1
l.insert(1,c)
print(f'Updated list: {l}')

print()
print()

Updated list: [[1, '2'], [(1+2j), (3+5j)], [10, 11], [20, 21], '3', 4, 5]

In [ ]:
l=[[1,'2'],[10,11],[20,21],'3',4,5]
c=[1+2j,3+5j]

# question 1
l.insert(1,c)
print(f'Updated list: {l}')

print()
print()

# question 2
for i in l:
    if type(i)==str:
        print(f'String exist is {i}')
        a=l.index(i)
        print(f'Its position is: {a}')
print()
l.remove('3')
print(f'After removing {a} the new list is:\n {l}')

print()
print()

# question 3
print('The every second elemnt is:')
for i in l:
    if type(i)==list:
        
        print(i[1])

Updated list: [[1, '2'], [(1+2j), (3+5j)], [10, 11], [20, 21], '3', 4, 5]


String exist is 3
Its position is: 4

After removing 4 the new list is:
 [[1, '2'], [(1+2j), (3+5j)], [10, 11], [20, 21], 4, 5]


The every second elemnt is:
2
(3+5j)
11
21

In [ ]:
l = [[23,45],[6,7,'78S'],'ABC','REV']

#Q1

l.insert(2,['sdf','sdf'])
print(l)
l.insert(3,[11,12])
print(l)
l.insert(1,(2+3j))
print('After complex number- ',l)

#Q2
for i in l:
    if type(i) == list:
        for j in i:
            if type(j) == str:
                print('Found String in Neasted List at index={} : {}'.format(i,j))
                print('Removed',j)
                i.remove(j)

print('List after remove ',l)

#Q3
k=1
for i in l:
    if type(i) == list and len(i) >=2:
        print('Neasted List ',k)
        print('2nd element of it is=',i[1])
        k+=1

In [ ]:
l = [[1,'a'],[3,4],[5,'b'],1,3,4,5,6]
# Append 2 more list and 1 complex number in between
l.insert(3,6j)
l.insert(4,[7,8])
l.insert(5,[9,0])
print (l)
for i in l:
    if type(i) == list:
        for t in i:
            if type(t) == str:
                print(t)

[[1, 'a'], [3, 4], [5, 'b'], 6j, [7, 8], [9, 0], 1, 3, 4, 5, 6]
a
b

In [ ]:
l1 = [[22,"mahendra",55,22.4],["dhoni",77,11,55,78.9],[77,88,99],2,5,8]

l1.insert(2,[2,5,6])
l1.insert(4,[99,"pravin",88,True])
l1.insert(-1,6+4j)
l1

[[22, 'mahendra', 55, 22.4],
 ['dhoni', 77, 11, 55, 78.9],
 [2, 5, 6],
 [77, 88, 99],
 [99, 'pravin', 88, True],
 2,
 5,
 (6+4j),
 8]

In [ ]:
l1

[[22, 'mahendra', 55, 22.4],
 ['dhoni', 77, 11, 55, 78.9],
 [2, 5, 6],
 [77, 88, 99],
 [99, 'pravin', 88, True],
 2,
 5,
 (6+4j),
 8]

In [ ]:
for i in l1:
    if type(i) == list :
        for j in i:
            if type(j) == str :
                print(i.index(j))
                i.remove(j)

print(l1)

1
0
1
[[22, 55, 22.4], [77, 11, 55, 78.9], [2, 5, 6], [77, 88, 99], [99, 88, True], 2, 5, (6+4j), 8]

In [ ]:
l=[["gh",56],[89,"yhg"],["90",98],78,90.0]

In [ ]:
for e in l:
    if type(e)==list:
        l.insert(l.index(e)+1,[78,90])
        l.insert(l.index(e)+2,[89,"90","90","90"])
        l.insert(l.index(e)+3,6+7j)
        break
print(l)

[[56], [78, 90], [89, '90', '90', '90'], (6+7j), [78, 90], [89], (6+7j), [89], [98], 78, 90.0]

In [ ]:
for i in l:
    if type(i)==list:
        for e in i:
            if type(e)==str:
                print(f"index of string in nested list of index number {l.index(i)} is {i.index(e)}")
                i.remove(e)
print("new list",l)

index of string in nested list of index number 2 is 1
index of string in nested list of index number 2 is 1
new list [[56], [78, 90], [89, '90'], (6+7j), [78, 90], [89], (6+7j), [89], [98], 78, 90.0]

In [ ]:
l=[["gh",56],[89,"yhg"],["90",98],78,90.0]
for e in l:
    if type(e)==list:
        l.insert(l.index(e)+1,[78,90])
        l.insert(l.index(e)+2,[89,"90"])
        l.insert(l.index(e)+3,6+7j)
        break
print(l)
for i in l:
    if type(i)==list:
        for e in i:
            if type(e)==str:
                print(f"index of string in nested list of index number {l.index(i)} is {i.index(e)}")
                i.remove(e)
print("new list",l)
for i in l:
    if type(i)==list:
        for e in i:
            if len(i)>1:
                i.pop(1)
print("final list",l)

In [ ]:
l1 = [[22,"mahendra",55,22.4],["dhoni",77,11,55,78.9],[77,88,99],2,5,8]

l1.insert(2,[2,5,6])
l1.insert(4,[99,"pravin",88,True])
l1.insert(-1,6+4j)

print(l1)

for i in l1:
    if type(i) == list :
        for j in i:
            if type(j) == str :
                print(i.index(j))
                i.remove(j)


print(l1)

for i in l1 :
    if type(i) == list :
        print(i[2], end = ",")

In [ ]:
l = [[1,2,3],[4,5,6],[7,8,9],12,"Santosh"]
l.insert(2,[3,2,1,"test","test","test"])
l.insert(2,[6,5,4])
l.insert(0, 5 + 6j)
print("Q1")
print(l)

Q1
[(5+6j), [1, 2, 3], [4, 5, 6], [6, 5, 4], [3, 2, 1, 'test', 'test', 'test'], [7, 8, 9], 12, 'Santosh']

In [ ]:
for i in range(len(l)):
    if type(l[i]) == list:
        for j in range(len(l[i])):
            if type(l[i][j]) == str:
                print(j)
                del l[i][j]
    if(type(l[i]) == str):
        print(j)
        del l[i]
print("Q2")
print(l)
print("Q3")
for i in range(len(l)):
    if type(l[i]) == list:
        print(l[i][1])

3
4

IndexError: list index out of range

In [ ]:
l=[[4,5,"Sameer","Sameer","Sameer"],[346,7,3426,76],[34657,"Jadhav",74557,45,6],23095,'ineuron']
l.append([67,67])
l.append([55,55])
l.insert(3,3+6j)
l

[[4, 5, 'Sameer', 'Sameer', 'Sameer'],
 [346, 7, 3426, 76],
 [34657, 'Jadhav', 74557, 45, 6],
 (3+6j),
 23095,
 'ineuron',
 [67, 67],
 [55, 55]]

In [ ]:
l=[[4,5,"Sameer","Sameer","Sameer"],[346,7,3426,76],[34657,"Jadhav",74557,45,6],23095,'ineuron']
l.append([67,67])
l.append([55,55])
l.insert(3,3+6j)
l

for i in l:
    if type(i)==list:
        for j in i:
            if type(j)== str:
                print (" got {} string at {} location".format(j,i))
                i.remove(j)
                print(i)

 got Sameer string at [4, 5, 'Sameer', 'Sameer', 'Sameer'] location
[4, 5, 'Sameer', 'Sameer']
 got Sameer string at [4, 5, 'Sameer', 'Sameer'] location
[4, 5, 'Sameer']
 got Jadhav string at [34657, 'Jadhav', 74557, 45, 6] location
[34657, 74557, 45, 6]

In [ ]:
# This is 100% working 

l1 = [[1,2,3],[4,5,6],[7,8,9],'demo',12.5]
l2 = [11,12,'b','b','b']
l3 = [21,'t',223]
# 1)
l1.insert(1,l2)
l1.insert(2,l3)
print("Main List : ",l1)
# 2)

for i in l1:
    if type(i)== list:
        for j in i:
            if type(j) == str:
                print("Index : ",i.index(j))
                i.remove(j)
                
# 3) 
for i in l1:
    if type(i)== list:
        print("Second Element : ",i[1])

Main List :  [[1, 2, 3], [11, 12, 'b', 'b', 'b'], [21, 't', 223], [4, 5, 6], [7, 8, 9], 'demo', 12.5]
Index :  2
Index :  2
Index :  1
Second Element :  2
Second Element :  12
Second Element :  223
Second Element :  5
Second Element :  8

In [ ]:
l1

[[1, 2, 3], [11, 12, 'b'], [21, 223], [4, 5, 6], [7, 8, 9], 'demo', 12.5]

In [ ]:

l1 = [[1,2,3],[4,5,6],[7,8,9],'demo',12.5]
l2 = [11,12,'b','b','b']
l3 = [21,'t',223]
# 1)
l1.insert(1,l2)
l1.insert(2,l3)
l1

[[1, 2, 3],
 [11, 12, 'b', 'b', 'b'],
 [21, 't', 223],
 [4, 5, 6],
 [7, 8, 9],
 'demo',
 12.5]

In [ ]:
l = [[1, 2, 3],
 [11, 12, 'b', 'b', 'b'],
 [21, 't', 223],
 [4, 5, 6],
 [7, 8, 9],
 'demo',
 12.5]

In [ ]:
l = [[1, 2, 3],
 [11, 12, 'b', 'b', 'b'],
 [21, 't', 223],
 [4, 5, 6],
 [7, 8, 9],
 'demo',
 12.5]


for i in l:
    if type(i)==str:
        print("Ans 2: ",l.index(i))
        l.pop(l.index(i))
        print(l)
        print("string:",i)
#3

b = [el[1] for el in l]
print(b)

Ans 2:  5
[[1, 2, 3], [11, 12, 'b', 'b', 'b'], [21, 't', 223], [4, 5, 6], [7, 8, 9], 12.5]
string: demo

TypeError: 'float' object is not subscriptable

In [ ]:
l = [[1, 2, 3],
 [11, 12, 'b', 'b', 'b'],
 [21, 't', 223],
 [4, 5, 6],
 [7, 8, 9],
 'demo',
 12.5]

li=[]
for i,j in enumerate(l):
    if type(j) == list:
        for k,d in enumerate(j):
            if type(d) == str:
                print('index of string in the list is ',k)
                l[i][k] = 'ccc'
            if k == 1:
                li.append(j[k])
print(l)
li

index of string in the list is  2
index of string in the list is  3
index of string in the list is  4
index of string in the list is  1
[[1, 2, 3], [11, 12, 'ccc', 'ccc', 'ccc'], [21, 'ccc', 223], [4, 5, 6], [7, 8, 9], 'demo', 12.5]

[2, 12, 'ccc', 5, 8]

In [ ]:
l

[[1, 2, 3],
 [11, 12, 'ccc', 'ccc', 'ccc'],
 [21, 'ccc', 223],
 [4, 5, 6],
 [7, 8, 9],
 'demo',
 12.5]

In [ ]:
l = [[1, 2, 3],[11, 12, 'b', 'b', 'b'],[21, 't', 223],[4, 5, 6],[7, 8, 9],'demo',12.5]
for i in l:
    b=False
    if type(i) == list:
        a=False
        for j in i:
            if type(j)==str:
                i.remove(j)
                a=True
                break
        if a :
            print(l.index(i))
            l.remove(i)

1

In [ ]:
l

[[1, 2, 3], [21, 't', 223], [4, 5, 6], [7, 8, 9], 'demo', 12.5]

In [ ]:

l = [[1, 2, 3],
 [11, 12, 'b', 'b', 'b'],
 [21, 't', 223,44],
 [4, 5, 6],
 [7, 8, 9],
 'demo',
 12.5]

#part 2
for sublist in l:
    if isinstance(sublist,list):
           for obj in sublist:
                if isinstance(obj,str):
                    print('Occurance found in sublist',sublist ,' at ',sublist.index(obj))
                    sublist.remove(obj)
                 
    print(sublist)

#part 3

for i in l:
    if type(i)== list:
        print(i[2])

[1, 2, 3]
Occurance found in sublist [11, 12, 'b', 'b', 'b']  at  2
Occurance found in sublist [11, 12, 'b', 'b']  at  2
[11, 12, 'b']
Occurance found in sublist [21, 't', 223, 44]  at  1
[21, 223, 44]
[4, 5, 6]
[7, 8, 9]
demo
12.5
3
b
44
6
9

In [ ]:
l

[[1, 2, 3], [11, 12, 'b'], [21, 223, 44], [4, 5, 6], [7, 8, 9], 'demo', 12.5]

In [ ]:
l = []
for i in range(5):
    l.append(int(input()))
print(l)

67
43
3453
5654
6
[67, 43, 3453, 5654, 6]

input()

In [ ]:
input()

[345,54,45,45]

'[345,54,45,45]'

In [ ]:
list(input())

[345,544,454]

['[', '3', '4', '5', ',', '5', '4', '4', ',', '4', '5', '4', ']']

In [ ]:

#2. Find the index of string element in the nested list and remove the string
l = [[1, 2, 3],
 [11, 12, 'b', 'b', 'b'],
 [21, 't', 223],
 [4, 5, 6],
 [7, 8, 9],
 'demo',
 12.5]

for i in l:
    if type(i) == list:
        j=0
        while j < len(i):
            if type(i[j]) is str:
                print("Index of string {} is :".format(i[j]),j)
            j = j +1
        j=0
        while j < len(i):
            if type(i[j]) is str:
                print("The string in the nested list is '{}'".format(i[j]))
                i.remove(i[j])
                continue
            j = j +1
print("List after removal of string from nested list is\r",l,'\n')

Index of string b is : 2
Index of string b is : 3
Index of string b is : 4
The string in the nested list is 'b'
The string in the nested list is 'b'
The string in the nested list is 'b'
Index of string t is : 1
The string in the nested list is 't'
 [[1, 2, 3], [11, 12], [21, 223], [4, 5, 6], [7, 8, 9], 'demo', 12.5]

In [ ]:
l = [1,2,3,4,5]

In [ ]:
l1 = []

In [ ]:
for i in "sudh":
    l1.append(i)

In [ ]:
l1

['s', 'u', 'd', 'h']

In [ ]:
[[i] for i in "sudh"]

[['s'], ['u'], ['d'], ['h']]

In [ ]:
l = []
for i in range(10) :
    if i%2 ==0:
        l.append(i)

In [ ]:
l

[0, 2, 4, 6, 8]

In [ ]:
[i for i in range(10) if i %2 == 0 ]

[0, 2, 4, 6, 8]

In [ ]:
8%3

2

In [ ]:
8%2

0

In [ ]:
l = []
for i in range(10):
    if i % 2 != 0:
        l.append("odd")
    else :
        l.append("even")

In [ ]:
l

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [ ]:
["odd" if i%2 != 0 else "even" for i in range(10)]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [ ]:
mat = []
for i in range(3):
    mat.append([])
    for j in range(3):
        mat[i].append(j)
mat

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
[[j for j in range(3)]for i in range(3)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
[i for i in range(8) if i % 2 == 0 if i % 3 == 0  ]

[0, 6]

In [ ]:
l = []
for i in range(8):
    if i % 2 == 0 :
        if i % 3 == 0 :
            l.append(i)

In [ ]:
l

[0, 6]

In [ ]:
l = []
for i in range(10):
    l.append(i)

In [ ]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
["yes " if i == 1  else "no" if i == 2 else "test " for i in l]

['test ',
 'yes ',
 'no',
 'test ',
 'test ',
 'test ',
 'test ',
 'test ',
 'test ',
 'test ']

In [ ]:
 l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
res = []
for i in l :
    if i == 1 :
        res.append("yes")
    elif i ==2 :
        res.append("no")
    else :
        res.append("test")

In [ ]:
res

['test', 'yes', 'no', 'test', 'test', 'test', 'test', 'test', 'test', 'test']

In [ ]:
# to update list of integers with its square root

a =  [1,2,4,3,6]

for i in range(len(a)):
  a[i] = a[i]**2

print(a)

[1, 4, 16, 9, 36]

In [ ]:
# to update a list of binary values. Repalce 0 with 1 vice versa

In [ ]:
a = [1,1,0,0,0,1]

for i in range(len(a)):
  if a[i] == 0:
    a[i] =1
  else :
    a[i] =0

print(a)

[0, 0, 1, 1, 1, 0]