In [ ]:
# Q1. Why do we call Python as a general purpose and high-level programming language?

It is simple with an easily readable syntax and that makes it well-loved by both seasoned developers and experimental students.For newcomers and beginners, Python is incredibly easy to learn and use. In fact, it’s one of the most accessible programming languages availableIt provides large standard libraries that include the areas like string operations, Internet, web accommodation implements, operating system interfaces, and protocols. Most of the highly used programming tasks are already scripted into it that constrains the length of the codes to be inscribed in Python.

In [ ]:
# Q2. Why is Python called a dynamically typed language?

When we declare a variable in C or alike languages, this sets aside an area of memory for holding values allowed by the data type of the variable. The memory allocated will be interpreted as the data type suggests. If it’s an integer variable the memory allocated will be read as an integer and so on. When we assign or initialize it with some value, that value will get stored at that memory location. At compile time, initial value or assigned value will be checked. So we cannot mix types. Example: initializing a string value to an int variable is not allowed and the program will not compile.

But Python is a dynamically typed language. It doesn’t know about the type of the variable until the code is run. So declaration is of no use. What it does is, It stores that value at some memory location and then binds that variable name to that memory container. And makes the contents of the container accessible through that variable name. So the data type does not matter. As it will get to know the type of the value at run-time.

In [ ]:
# Q3. List some pros and cons of Python programming language?

Pros-

* Beginner-friendly
* Python has Extensive Libraries
* It is highly scalable
* Python code is portable accross multiple type of systems
* Python has Large Community support


Cons-

* Python is slower than compiled languages like JAVA or Scala
* It has high memory consumption
* Python has Complex multithreading ie The multithreading model in Python * does not have threads that run at the same time. where, one thread can hold the GIL at one time
* In python, Garbage collection leads to potential memory losses

In [ ]:
# Q4. In what all domains can we use Python?

- Back end web development
- Data Science
- Machine Learning
- Artificial Intelligence
- network and internent development

In [ ]:
# Q5. What are variable and how can we declare them?

Variable is containers which store values. Python is not “statically typed”. We do not need to declare variables before using them or declare their type. A variable is created the moment we first assign a value to it. A Python variable is a name given to a memory location. It is the basic unit of storage in a program.

## Rules for creating variables in Python

A variable name must start with a letter or the underscore character.
A variable name cannot start with a number.
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
Variable names are case-sensitive (name, Name and NAME are three different variables).
The reserved words(keywords) cannot be used naming the variable.

In [ ]:
# Q6. How can we take an input from the user in Python?

Python provides a built-in function called input which takes the input from the user. When the input function is called it stops the program and waits for the user’s input. When the user presses enter, the program resumes and returns what the user typed.

In [ ]:
# Q7. What is the default datatype of the value that has been taken as an input using input() function?

String

In [ ]:
# Q8. What is type casting?

Type Casting is the method to convert the variable data type into a certain data type in order to the operation required to be performed by users


# Implicit Type Conversion

In this,  methods, Python converts data type into another data type automatically. In this process, users don’t have to involve in this process

# Explicit Type Casting

In this method, Python need user involvement to convert the variable data type into certain data type in order to the operation required.

In [ ]:
# Q9. Can we take more than one input from the user using single input() function? If yes, how? If no, why?

In Python user can take multiple values or inputs in one line by two methods.

* Using split() method

* Using List comprehension

* Using split() method

taking three inputs at a time

total, passed, failed = input("Enter three values: ").split()

print("Total number of students: ", total) print("Number of passed students is : ", passed) print("Number of failed students is : ", failed)

Using List comprehension
taking three input at a time

x, y, z = [int(x) for x in input("Enter three values: ").split()] print("First Number is: ", x) print("Second Number is: ", y) print("Third Number is: ", z) print()

In [ ]:
# Q10. What are keywords?

Keywords in Python are reserved words that can not be used as a variable name, function name, or any other identifier.

Key words in Python :

and,	as,	assert,	break,
class,	continue,	def	,del,
elif,	else,	except,	False,
finally,	for	,from	,global,
if,	import,	in,	is ,
lambda,	None,	nonlocal,	not,
or,	pass,	raise,	return,
True,	try,	while,	with,
yield

In [ ]:
# Q11. Can we use keywords as a variable? Support your answer with reason.

We cant use keyword as variable because keywords are the reserved words for specific operations . if we try to give the keyword as a variable the output will throw some error

In [ ]:
# Q12. What is indentation? What's the use of indentaion in Python?

Indentation refers to the spaces at the beginning of a code line. Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important. Python uses indentation to indicate a block of code.

Python will give you an error if you skip the indentation.

The number of spaces is up to you as a programmer, but it has to be at least one.

In [ ]:
# Q13. How can we throw some output in Python?

we can use print function to throw output

In [ ]:
# Q14. What are operators in Python?

Operators in Python are used to perform a specific operation on variables and values. Python has a lot of operators that are either keywords or special characters. The values or variables on which these operators work are called operands.

Types of Operators :

Arithmetic Operators

Logical Operators

Comparison Operators

Bitwise Operators

Assignment Operators

Membership Operators

Identity Operators

In [ ]:
# Q15. What is difference between / and // operators?

In Python 3.x, 5 / 2 will return 2.5 and 5 // 2 will return 2. The former is floating point division, and the latter is floor division, sometimes also called integer division.

5.0 // 2 will return 2.0 since that's the floor division result of the operation.

In [ ]:
# Q16. Write a code that gives following as an output. Output :- "iNeuroniNeuroniNeuroniNeuron ""

print("iNeuroniNeuroniNeuroniNeuron ")

iNeuroniNeuroniNeuroniNeuron

In [ ]:
# Q17. Write a code to take a number as an input from the user and check if the number is odd or even.

a = int(input('enter a number to check...'))

if a % 2 == 0 :
  print('its even number')

else :
  print('its odd number')

enter a number to check...34
its even number

In [ ]:
# Q18. What are boolean operator?

Boolean Operators are simple words (AND, OR, NOT or AND NOT) used as
conjunctions to combine or exclude keywords in a search, resulting in more focused and
productive results. This should save time and effort by eliminating inappropriate hits that
must be scanned before discarding.


Using these operators can greatly reduce or expand the amount of records returned.
Boolean operators are useful in saving time by focusing searches for more 'on-target'
results that are more appropriate to your needs, eliminating unsuitable or inappropriate.
Each search engine or database collection uses Boolean operators in a slightly different
way or may require the operator be typed in capitals or have special punctuation. The
specific phrasing will be found in either the guide to the specific database found in
Research Resources or the search engine's help screens. 


Example : And,or , not / and not

In [ ]:
# Q19. What will the output of the following? 1 or 0 ,0 and 0, True and False and True, 1 or 0 or 0
#Answer :
1 or 0  = True
0 and 0 = False
True and False and True = False
1 or 0 or 0 = True

In [ ]:
1 or 0 or 0

1

In [ ]:
# Q20. What are conditional statements in Python?

A conditional statement in python, also called a condition constructs, is a statement that accommodates a condition inside itself. This condition is constructed using the bitwise, boolean, and comparison operators in Python.
A conditional statement always generates a boolean output that is either true or false.After generating the output, the statement decides whether to move inside the conditional block or leave it as it is. The code inside the conditional block is executed if and only if the conditional statement returns true

In [ ]:
# Q21. What is use of 'if', 'elif' and 'else' keywords?

# IF Condition :
If the condition following the keyword if evaluates as true, the block of code will execute. Note that parentheses are not used before and after the condition check as in other languages.
if True:
  print('If block will execute!')

# else Condition :
You can optionally add an else response that will execute if the condition is false:

#elif Condition :
Multiple conditions can be checked by including one or more elif checks after your initial if statement. Just keep in mind that only one condition will execute:

In [ ]:
# Q22. Write a code to take the age of person as an input and if age >= 18 display "I can vote". If age is < 18 display "I can't vote".

# Answer

a = int(input('enter a age of the candidate to check'))

if a > 18 :
  print('I can Vote') 

else :
  print("I can't vote")

enter a age of the candidate to check31
I can Vote

In [ ]:
# Q23. Write a code that displays the sum of all the even numbers from the given list. numbers = [12, 75, 150, 180, 145, 525, 50]

# Answer

a = [12, 75, 150, 180, 145, 525, 50]
b = 0

for i in a :
  if i % 2 == 0 :
    b = b + i

print('the sum of even numbers in given list :', b)

the sum of even numbers in given list : 392

In [ ]:
# Q24. Write a code to take 3 numbers as an input from the user and display the greatest no as output.

# Answer

l = []

for i in range(3):
  a = int(input())
  l.append(a)


print('the maximum number in given numbers ', max(l) )

1
2
3
the maximum number in given numbers  3

In [ ]:
''' Q25. Write a program to display only those numbers from a list that satisfy the following conditions
- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop

numbers = [12, 75, 150, 180, 145, 525, 50] '''

# Answer

a = [12, 75, 150, 180, 145, 525, 50]

for i in a :
  if i > 500 :
    break
  if i > 150 :
    continue
  if i % 5 == 0 :
    print(i)

75
150
145

In [ ]:
# Q26. What is a string? How can we declare string in Python?

A string (str) in Python is a single character or a collection of characters. When we create a string, this internally converts into a combination of 1s and 0s for the computer to handle. This conversion of string to binary numbers is called encoding and is done using Unicode in Python.

In Python, a string can be created by enclosing it with either single or double quotes (‘’ or “”)

You cannot use a single quote at one end and a double quote at the other end.

In [ ]:
# Q27. How can we access the string using its index?

Accessing the character or a set of continuous characters in Python:
A string is like a list of characters. Any of the characters can be accessed using the index. An important thing to remember is that the indexing starts from 0.

## a. Accessing a single character in Python:
To access a character we can use the string name followed by the index of that character in the square brackets. We can access from the right side also using negative indexing, where the rightmost character has ‘-1’ as the index.
An important note to remember is that a space is also a character in Python.

# b. Accessing multiple characters between two indexes :
To get a substring from ‘i’th index character to ‘jth’ index character(jth index character excluded), we can give indexing as ‘i:j’. This is called slicing. Here indexing starts from 0!. The values of i and j can be negative.

# c. Accessing multiple characters before or after an index:
To get all the characters till the ‘ith’ index character (itself excluded), we give ‘ :i’. Similarly, to get all characters from ith character (itself included), we give ‘i:’.

# d. Getting an error on wrong indexing:
However, if the index exceeds the limit, then we get an error. Here the limit is one less than the length of the string ( number of characters in a string-1).

In [ ]:
# Q28. Write a code to get the desired output of the following ...string = "Big Data iNeuron", desired_output = "iNeuron"


string = "Big Data iNeuron"
b = 'iNeuron'
c = string.find(b)

for i in range(c,c+len(b)) :
  print(string[i], end = '')

iNeuron

In [ ]:
''' Q29. Write a code to get the desired output of the following

string = "Big Data iNeuron"
desired_output = "norueNi"

'''

a = "Big Data iNeuron"
b = "norueNi"

if b in a :
  c = a.find(b)
  for i in range(c,c+len(b)) :
     print(string[i], end = '')


if b[::-1] in a :  
  d = a.find(b[::-1])
  for i in range(d+len(b)-1,d-1,-1) :
     print(a[i], end = '')

norueNi

In [ ]:
# Q30. Resverse the string given in the above question.

# Answer 

string = "Big Data iNeuron"

string[::-1]

'norueNi ataD giB'

In [ ]:
# Q31. How can you delete entire string at once?
a = 'stinrg'
c = a.format()

print(c)

stinrg

In [ ]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
# Q32. What is escape sequence?

An escape sequence is a special character used in the form of backslash(\) followed by a character that is required.

These characters are used to represent whitespace.

Whitespace gives characters like space, tab, formfeed, vertical tab.

\’ - 	This represents a single quote

\n - 	This represents a newline

\r This represents a carriage return

\t  -	This represents a tab

\b	- This represents a backspace

\f	-This represents a formfeed

\ooo -	This represents an octal value

\xhh	 - This represents a hex value

\\	  - This represents a backslash

\uxxxx -	This represents 16 bits hex value

\uxxxxxxxx	 - This represents 32 bits hex value

In [ ]:
# Q33. How can you print the below string? 'iNeuron's Big Data Course'

print("iNeuron's Big Data Course")

# we need to use double codes at ends and single code in between string

iNeuron's Big Data Course

In [ ]:
# Q34. What is a list in Python?

Lists are used to store multiple items in a single variable.

List is a collection which is ordered and changeable. Allows duplicate members.

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

list is mutable entity

In [ ]:
# Q35. How can you create a list in Python?

Lists are created using square brackets:
thislist = ["apple", "banana", "cherry"]

Type casting to list :

It is also possible to use the list() constructor when creating a new list.

thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

In [ ]:
# Q36. How can we access the elements in a list?

List items are indexed and you can access them by referring to the index number:

Negative indexing : means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

Range of Indexes :

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

By leaving out the start value, the range will start at the first item:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

By leaving out the end value, the range will go on to the end of the list:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

In [ ]:
''' 
Q37. Write a code to access the word "iNeuron" from the given list.
lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]

'''

l = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]

l[4][2]

'iNeuron'

In [ ]:
# Q38. Take a list as an input from the user and find the length of the list.

a = input()

b = a.split(',')

print('lenght of the given input',len(b))

1,2,3,4,2
lenght of the given input 5

In [ ]:
lst = [ ]
n = int(input("Enter number of elements : "))
  
for i in range(0, n):
    ele = [input(), int(input())]
    lst.append(ele)
      
print(lst)

Enter number of elements : 3
1
2
3
4
4
5
[['1', 2], ['3', 4], ['4', 5]]

In [ ]:
4

In [ ]:
# Q39. Add the word "Big" in the 3rd index of the given list. lst = ["Welcome", "to", "Data", "course"]


l = ["Welcome", "to", "Data", "course"]

l.insert(3,"Big")

print(l)

['Welcome', 'to', 'Data', 'Big', 'course']

In [ ]:
# Q40. What is a tuple? How is it different from list?

Tuple : its is the one of the data set present in the 4 python data sets.
it will denoted by round brackets.

![image.png]()

In [ ]:
# List Vs Tuple (time consuming in iteration)

import time
l = ["Welcome", "to", "Data", "course"]
start = time.time_ns()
for i in l :
  continue
end = time.time_ns()

print('iteration time for list in nano seconds',end-start)


t = ("Welcome", "to", "Data", "course")
start1 = time.time_ns()
for i in t :
  continue
end1 = time.time_ns()

print('iteration time for tuple in nano seconds',end1-start1)

iteration time for list in nano seconds 70478
iteration time for tuple in nano seconds 68060

In [ ]:
# list vs tuple (memory consuming)


import sys

l = ["Welcome", "to", "Data", "course"]

print('memory consumed by list in btes',sys.getsizeof(l) )

t = ("Welcome", "to", "Data", "course")

print('memory located by tuple',sys.getsizeof(t) )

memory consumed by list in btes 88
memory located by tuple 72

In [ ]:
# Q41. How can you create a tuple in Python?

we can create tuple by suing round brackets.

Typecasting into tuple :

we can convert data set from any other to tuple by sing "tuple()" keyword

In [ ]:
# Q42. Create a tuple and try to add your name in the tuple. Are you able to do it? Support your answer with reason.

as tuples are immutable, we cant do this operation. we need to create list first and then add my name then need to type cast into tuple.

In [ ]:
# Q43. Can two tuple be appended. If yes, write a code for it. If not, why?

as tuple is immutable object we cant do append operation in tuple. for that we need to type cast tuple into list.

In [ ]:
# Q44. Take a tuple as an input and print the count of elements in it.

a = input('enter the values')

b = a.split(',')

t = tuple(b)

print(len(t))

enter the values1,2,3,5,23
5

In [ ]:
# Q45. What are sets in Python?

Set is the one of the 4 data sets in python .
it was denoted by curly brackets .
it will not allow duplicate values.

In [ ]:
# Q46. How can you create a set?

we can create set by using curly brackets. 
s = {}

type casting from other data set to set : we can tyoe cast by using 'set()' key word

s1 = set()

In [ ]:
# Q47. Create a set and add "iNeuron" in your set.

s = {1,2,3}

s.add("iNeuron")

print(s)

{1, 2, 3, 'iNeuron'}

In [ ]:
# Q48. Try to add multiple values using add() function.

s.add(56,343,678,23)

TypeError: ignored

In [ ]:
s.update((56,343,678,23))

In [ ]:
# Q49. How is update() different from add()?

add adds an element, update "adds" another iterable set, list or tuple i.e. multiple elements

In [ ]:
# Q50. What is clear() in sets?

#Answer 
#The clear() method removes all items from the set.

s = {1, 2, 23, 3, 343, 56, 678, 'iNeuron'}

s.clear()

print(s)

set()

In [ ]:
# Q51. What is frozen set?

As the name indicates that its like set but it will freeze the elements.

its immutable. so we cant do insertion and deletion of elements from this frozen set

In [ ]:
# Q52. How is frozen set different from set?

In [ ]:
# Q53. What is union() in sets? Explain via code.

a = {1,2,3,4,5,6,7}
b = {3,4,1,6,7,12,34,56}

a.union(b)

# union wil give the all the elements from both sets without duplicates.

{1, 2, 3, 4, 5, 6, 7, 12, 34, 56}

In [ ]:
# Q54. What is intersection() in sets? Explain via code.

a = {1,2,3,4,5,6,7}
b = {3,4,1,6,7,12,34,56}

a.intersection(b)

# intersection only give the common values in both sets

{1, 3, 4, 6, 7}

In [ ]:
# Q55. What is dictionary in Python?

Dictionary is a map data structure consisting of key-value pairs, with unique set of keys.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

Duplicates are not allowed in keys

denoted by curly braces as set but the inside values are in key-value pair

In [ ]:
# Q56. How is dictionary different from all other data structures.

A dictionary represents the relationship between pair of objects instead of just a set of objects like list, tuple, sets, etc

Elements may or may not be stored at a contagious memory location.

Items are ordered, changeable, and do not allow duplicates

The values in dictionary items can be of any data type
To access a value the key is required

In [ ]:
# Q57. How can we delare a dictionary in Python?

A dictionary can be declared using a set of curly braces, {} my_dict = { "name" : "kalpesh", "age" : 25, "skills" : ["Python", "scala", "bigdata"] }

Another way could be using dict() function

my_dict = dict({ "name" : "kalpesh", "age" : 25, "skills" : ["Python", "scala", "bigdata"] })

In [ ]:
''' 
Q58. What will the output of the following?

var = {}
print(type(var))

'''

# Dictionary

In [ ]:
# Q59. How can we add an element in a dictionary?

# Answer

# we can add elemets in dictionary by giving key value pair

marks = {'english' :89, 'Hindi' : 90, 'maths': 75}

# addding physics subject marks into marks dictionary

marks['physics'] = 78

print(marks)

{'english': 89, 'Hindi': 90, 'maths': 75, 'physics': 78}

In [ ]:
# Q60. Create a dictionary and access all the values in that dictionary.
marks = {'english': 89, 'Hindi': 90, 'maths': 75, 'physics': 78}

marks.values()

dict_values([89, 90, 75, 78])

In [ ]:
# Q61. Create a nested dictionary and access all the element in the inner dictionary.

marks = {'english': 89, 'Hindi': 90, 'maths': 75, 'physics': 78 , 'chemistry' :{'ram':78,'prasad':87,'kishore':97}}


for i in marks.items() :
  if i == dict :
    print(marks[i].key())

In [ ]:
# Q62. What is the use of get() function?

The get() method returns the value of the item with the specified key.

marks = {'english' :89, 'Hindi' : 90, 'maths': 75}

marks.get('english') ---> 89

In [ ]:
# Q63. What is the use of items() function?

In [ ]:
marks.items()

dict_items([('english', 89), ('Hindi', 90), ('maths', 75), ('physics', 78)])

The items() method returns a view object. The view object contains the key-value pairs of the dictionary, as tuples in a list.

marks = {'english' :89, 'Hindi' : 90, 'maths': 75}

marks.items() --->dict_items([('english', 89), ('Hindi', 90), ('maths', 75)])

In [ ]:
# Q64. What is the use of pop() function?

pop function removes the elements from data structures based on index or keys

Ex; In following code we removed value for "email" key from dict2 as well as value at index 4 of a list lst3

List& Dictionary- for a list by default the last value in the list is removed if no index is specified, but for dictionary a key has to be specified

Set- When pop operation is done on set, it can only remove last value of set, it does not take any index as arguments.

Tuple- pop operation on tuple is not supported

In [ ]:
# POP from dictionary

dict2 = {
    "name" : "kalpesh",
    "age" : 25,
    "skills" : ["Python", "scala", "bigdata"],
    "number" : 12334567890,
    "email" : "abc@mail.com",
}

dict2.pop("email")

for k, v in dict2.items():
    print("key: ", k, " value: ", v)
    
    
# pop from list 
lst3 = [1,2,3,4,5,6]
lst3.pop(4)

print(lst3)

# pop from set
set3 = {1,2,3,4,5,6,7}
set3.pop()

print(set3)

# pop from tuple 
t3 = (3,4,5,6,7,8,9)
t3.pop()
Q

key:  name  value:  kalpesh
key:  age  value:  25
key:  skills  value:  ['Python', 'scala', 'bigdata']
key:  number  value:  12334567890
[1, 2, 3, 4, 6]
{2, 3, 4, 5, 6, 7}

AttributeError: ignored

In [ ]:
# Q65. What is the use of popitems() function?

# Python dictionary popitem() method removes the last inserted key-value pair from the dictionary and returns it as a tuple.

d = {1: '001', 2: '010', 3: '011'}

poped_item = d.popitem()
print(poped_item)
print(d)

(3, '011')
{1: '001', 2: '010'}

In [ ]:
# Q66. What is the use of keys() function?

keys() function returns the list of keys in a wrapped format.

Ex; d = {1: '001', 2: '010', 3: '011'} print(d.keys())

To get this list of keys in proper format, the result has to be typecasted to list print(list(d.keys()))

In [ ]:
d = {1: '001', 2: '010', 3: '011'}

print(d.keys())
print(list(d.keys()))

dict_keys([1, 2, 3])
[1, 2, 3]

In [ ]:
# Q67. What is the use of values() function?

values() function returns the list of values in a wrapped format.

Ex; d = {1: '001', 2: '010', 3: '011'} print(d.values())

To get this list of values in proper format, the result has to be typecasted to list print(list(d.values()))

In [ ]:
d = {1: '001', 2: '010', 3: '011'}
print(d.values())

print(list(d.values()))

dict_values(['001', '010', '011'])
['001', '010', '011']

In [ ]:
# Q68. What are loops in Python?

loops are the statements that allows us to execute certain statements multiple times based on certain conditions

In [ ]:
# Q69. How many type of loop are there in Python?

There are 2 types of loops in python

While loop

In python, a while loop is used to execute a block of statements repeatedly until a given condition is satisfied.
For loop

For loops are used for sequential traversal. For example: traversing a list or string or array etc.

In [ ]:
# Q70. What is the difference between for and while loops?

for loop is suitable when the number of iterations are fixed also counter variable get incremented automatically without any increment statement in the loop body.

while loop is suitable when only the exit condition is known also counter variable has to be incremented by an increment statement in the loop body.

In [ ]:
# Q71. What is the use of continue statement?

Continue Statement skips the execution of the program block from after the continue statement and forces the control to start the next iteration.

In [ ]:
# Q72. What is the use of break statement?

break is used to terminate the execution of the loop.

In [ ]:
# Q73. What is the use of pass statement?

The pass statement is a null statement and it does nothing. But the difference between pass and comment is that comment is ignored by the interpreter whereas pass is not ignored.

In [ ]:
# Q74. What is the use of range() function?

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

range(start, stop, step)

In [ ]:
# Q75. How can you loop over a dictionary?

You can loop through a dictionary by using a for loop.

When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

In [ ]:
dict2 = {
    "name" : "kalpesh",
    "age" : 25,
    "skills" : ["Python", "scala", "bigdata"],
    "number" : 12334567890,
    "email" : "abc@mail.com",
    "experience" : {
        "internship" : "PQR",
        "YOE" : 4.5,
        "company" : "ABC"
    }
}

# Using keys() function
print("Using keys() function")
for key in list(dict2.keys()):
    print("Key: ", key, " value: ", dict2[key])


# Using items() function
print("\nUsing items() function")
for k, v in dict2.items():
    print("key: ", k, " value: ", v)

Using keys() function
Key:  name  value:  kalpesh
Key:  age  value:  25
Key:  skills  value:  ['Python', 'scala', 'bigdata']
Key:  number  value:  12334567890
Key:  email  value:  abc@mail.com
Key:  experience  value:  {'internship': 'PQR', 'YOE': 4.5, 'company': 'ABC'}

Using items() function
key:  name  value:  kalpesh
key:  age  value:  25
key:  skills  value:  ['Python', 'scala', 'bigdata']
key:  number  value:  12334567890
key:  email  value:  abc@mail.com
key:  experience  value:  {'internship': 'PQR', 'YOE': 4.5, 'company': 'ABC'}

In [ ]:
# Q76. Write a Python program to find the factorial of a given number.

a = int(input('give a number to find the factorial'))

b = 1
c = 1
while b <= a :
  c = c *b
  b = b+1
  

print (c)

give a number to find the factorial5
120

In [ ]:
# Q77. Write a Python program to calculate the simple interest. Formula to calculate simple interest is SI = (P*R*T)/100

p = int(input('enter a value'))
r = int(input('enter a value'))
t = int(input('enter a value'))

simple_intrest = (p*r*t) / 100

print(simple_intrest)

enter a value100
enter a value10
enter a value2
20.0

In [ ]:
# Q78. Write a Python program to calculate the compound interest. Formula of compound interest is A = P(1+ R/100)^t.
p = int(input('enter a principle amount'))
r = float(input('enter a rate of intrest value'))
t = int(input('enter a time '))

a = (p*(1+r/100)**t)

print(a)

enter a principle amount1200
enter a rate of intrest value5.4
enter a time 2
1333.0992

In [ ]:
# Q79. Write a Python program to check if a number is prime or not.

a = int(input('enter a number to check'))

for i in range(2,a):
  if a%i == 0 :
    print('its not prime')
    break

else :
  print('its prime')

enter a number to check23
its prime

In [ ]:
a = int(input('enter a number'))
b = 2
while b < a:
  
  if a%b == 0 :
    print('its not prime')
    break
  b = b+1

else :
  print('its prime')

enter a number7
its prime

In [ ]:
# Q80. Write a Python program to check Armstrong Number.

a = int(input('enter a number'))

b = str(a)

c = len(b)
d = []
for i in b :
  d.append(int(i)**c)

if a == sum(d) :
  print('its a armstrong number')

else :
  print('its not armstrong number')

enter a number23
its not armstrong number

In [ ]:
# Q81. Write a Python program to find the n-th Fibonacci Number.

a = int(input('the number'))

b = []

c = 1
d = 1

for i in range(a):
  b.append(c)
  c,d = d, d+c

print(b[a-1])

the number5
5

In [ ]:
# Q82. Write a Python program to interchange the first and last element in a list.

l = [1,2,3,4,5,6,7,8]

b = len(l)

a = l[0]
c = l[b-1]
l[b-1] = a
l[0] = c

print(l)

[8, 2, 3, 4, 5, 6, 7, 1]

In [ ]:
# Q82. Write a Python program to interchange the first and last element in a list.

l = [1,2,3,4,5,6,7,8]

b = len(l)

a = l[0]
l[0] = l[b-1]
l[b-1] = a


print(l)

[8, 2, 3, 4, 5, 6, 7, 1]

In [ ]:
# Q83. Write a Python program to swap two elements in a list.

In [ ]:
# Q84. Write a Python program to find N largest element from a list.

l = [2,1,324,451,34,65]


a = int(input('give us the nth value to find the max..'))

l.sort(reverse = True)

l.insert(0, 0)

print(l)

print(l[a])

[2, 1, 324, 451, 34, 65]
give us the nth value to find the max..1
[0, 451, 324, 65, 34, 2, 1]
451

In [ ]:
# Q85. Write a Python program to find cumulative sum of a list.

l = [1,24,1,13,12,34,133,423]
a = 0

for i in l:
  a = a + i

print(a)

641

In [ ]:
# Q86. Write a Python program to check if a string is palindrome or not.

a = input('enter the word to find pelindrome..')

if a == a[::-1]:
  print('its pelindrome')
else :
  print('its not a pelindrome')

enter the word to find pelindrome..ram
its not a pelindrome

In [ ]:
# Q87. Write a Python program to remove i'th element from a string.
c = int(input('enter a index number to delete'))
a = 'durgaprasad'
b = list(a)
d = ''

for i in range(len(b)) :
  if i == c:
    b.remove(b[i])

for i in b:
  d = d + i


print(d)

enter a index number to delete1
drgaprasad

In [ ]:
# Q88. Write a Python program to check if a substring is present in a given string.

a = 'i am manoj kumar ravat'
b = 'kumar'
c = a.find(b)

if c >= 0 :
  print('yes')
else :
  print('No')

yes

In [ ]:
# Q89. Write a Python program to find words which are greater than given length k.
a = 'this is my first python programme and i would like to master in the python programming langauge'
b = 4
c = a.split()

for i in c :
  if len(i) >= b :
    print(i)

this
first
python
programme
would
like
master
python
programming
langauge

In [ ]:
# Q90. Write a Python program to extract unquire dictionary values.

a = {'hi' : [5,3,8, 0],'there' : [22, 51, 63, 77],'how' : [7, 0, 22],'are' : [12, 11, 45],'you' : [56, 31, 89, 90]}
l = []
m = []

for i in a.values() :
  l.append(i)

for i in l :
  if type(i) == list:
    for j in i :
      m.append(j)
  else :
    m.append(i)

n = set(m)
o = list(n)
o.sort()
print(o)

[0, 3, 5, 7, 8, 11, 12, 22, 31, 45, 51, 56, 63, 77, 89, 90]
[[5, 3, 8, 0], [22, 51, 63, 77], [7, 0, 22], [12, 11, 45], [56, 31, 89, 90]]

In [ ]:
for i in l :
  if type(i) == list:
    for j in i :
      m.append(j)
  else :
    m.append(i)
print(m)

[5, 3, 8, 0, 22, 51, 63, 77, 7, 0, 22, 12, 11, 45, 56, 31, 89, 90]

In [ ]:
# Q91. Write a Python program to merge two dictionary.

a = {'x' : 2, 'y' :3}
b = {'c' : 4, 'd' :5}

a.update(b)

print(a)

{'x': 2, 'y': 3, 'c': 4, 'd': 5}

In [ ]:
# Q92. Write a Python program to convert a list of tuples into dictionary.

input = [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
Output = {'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

a = dict(input)

print(a)

{'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

In [ ]:
'''
Q93. Write a Python program to create a list of tuples from given list having number and its cube in each tuple.

Input: list = [9, 5, 6]
Output: [(9, 729), (5, 125), (6, 216)]
'''

a = [9,5,2]
b = []

for i in range(len(a)) :
  b.append((a[i], a[i]**3))
 

print(b)

[(9, 729), (5, 125), (2, 8)]

In [ ]:
'''
Q94. Write a Python program to get all combinations of 2 tuples.

Input : test_tuple1 = (7, 2), test_tuple2 = (7, 8)
Output : [(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]
'''

a = (7,2)
b = (7,8)
c = []

for i in a :
  for j in b :
    c.append((i,j))
    c.append((j,i))



print(c)

[(7, 7), (7, 7), (7, 8), (8, 7), (2, 7), (7, 2), (2, 8), (8, 2)]

In [ ]:
'''

Q95. Write a Python program to sort a list of tuples by second item.

Input : [('for', 24), ('Geeks', 8), ('Geeks', 30)] 
Output : [('Geeks', 8), ('for', 24), ('Geeks', 30)]

'''
l = [('for', 8), ('Geeks', 9), ('Geeks', 20), ('siva',2),('ram', 5),('prasad',18)] 

for i in range(2) :
  for j in range(len(l)-1) :   
    if(l[j][1] > l[j+1][1]):
            temp = l[j]
            l[j] = l[j+1]
            l[j+1] = temp

print("Sorted List : ", l)

Sorted List :  [('for', 8), ('siva', 2), ('ram', 5), ('Geeks', 9), ('prasad', 18), ('Geeks', 20)]

In [ ]:
l = [('for', 24), ('Geeks', 8), ('Geeks', 30), ('siva',23),('ram', 34)] 


def second_element (element) :
  return element[1]

c = sorted(l, key = second_element)

print(c)

[('Geeks', 8), ('siva', 23), ('for', 24), ('Geeks', 30), ('ram', 34)]

In [ ]:
l = [('for', 24), ('Geeks', 8), ('Geeks', 30), ('siva',23),('ram', 34)] 


c = sorted(l,key = lambda x : x[1])

print(c)

[('Geeks', 8), ('siva', 23), ('for', 24), ('Geeks', 30), ('ram', 34)]

In [ ]:
l = [('for', 24), ('Geeks', 8), ('Geeks', 30), ('siva',23),('ram', 34)] 

b = dict(l)

print(b)

c = sorted(l,key = lambda x : x[1])

print(c)

{'for': 24, 'Geeks': 30, 'siva': 23, 'ram': 34}
[('Geeks', 8), ('siva', 23), ('for', 24), ('Geeks', 30), ('ram', 34)]

In [ ]:
'''Q96. Write a python program to print below pattern.

* 
* * 
* * * 
* * * * 
* * * * *  '''

n= 5

for i in range(n) :
  for j in range(0,i+1):
    print('*',end = ' ')
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
'''Q97. Write a python program to print below pattern.

    *
   **
  ***
 ****
***** '''

n = 5

for i in range(n):
  for j in range(n-i-1) :
    print(' ',end ='')
    
  
  for k in range(i+1):
    print('*', end ='')
  print()

    *
   **
  ***
 ****
*****

In [ ]:

'''Q98. Write a python program to print below pattern.

    * 
   * * 
  * * * 
 * * * * 
* * * * *   ''' 



n = 5

for i in range(n):
  for j in range(n-i-1) :
    print(' ',end ='')
    
  
  for k in range(i+1):
    print('*', end =' ')
  print()

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
'''Q99. Write a python program to print below pattern.

1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5 '''

n = 5

for i in range(0,n):
  for j in range(1,i+2):
    print(j, end = ' ')
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
'''Q100. Write a python program to print below pattern.

A 
B B 
C C C 
D D D D 
E E E E E '''

n = 'ABCDE'

for i in range(len(n)) :
  for j in range(i+1) :
    print(n[j], end = ' ')
  print()

A
A B
A B C
A B C D
A B C D E