# Looping

- Looping is a concept to repeat a block of code many times.
- It is basically iterations (repeating a task).
- In general there are 2 commonly used loops in python
    - for loops
    - while loops

# While loop

There will be time when we want to run a loop until a condition a become false

Also known as indefinite loop as it runs till infinite time.

run continuously

# While Loop
Syntax: While (condition):

            Statement 1

            Statement 2

                .

                .
            Statement n
            
        Statement x

### We must have to create variable before

In [ ]:
W = 0
while W < 5:
    print(W)
    W = W + 1 #this step is called incrementing. if we didint give this statement in while loop, it will go infinite loop

0
1
2
3
4

In [ ]:
notes = 5 
i = 1 
j = 1
while i < notes:
    print(i)
    i += 1
else :
    
    while j < 2 :
        print(i)
        j = j + 1 
    print("no 10 rs notes are available ")

1
2
3
4
5
no 10 rs notes are available

In [ ]:
initial_speed = 0
final_speed = 5
while initial_speed < final_speed :
  print('speed')
  initial_speed = initial_speed + 1

speed
speed
speed
speed
speed

In [ ]:
initial_speed = 0
final_speed = 10
count = 1
while initial_speed < final_speed :
  print('speed')
  count = count + 1
  if count == 4 :
    break

speed
speed
speed

In [ ]:
i = 1
j = 5
while i < j :
  print(i)
  i = i+1

1
2
3
4

In [ ]:
i = 1
j = 5
while i < j :
  print(i)
  i = i+1
else :
  print('this is valid in else condition')

1
2
3
4
this is valid in else condition

In [ ]:
i = 1
j = 5
while i < j :
  print(i)
  i = i+1
else :
  while i < 2 :
    print(i)
    i = i+1
  print('this is valid in else condition')

1
2
3
4
this is valid in else condition

In [ ]:
i = 1
j = 5
k = 1
while i < j :
  print(i)
  i = i+1
else :
  while k < 2 :
    print(i)
    k = k+1
  print('this is valid in else condition')

1
2
3
4
5
this is valid in else condition

In [ ]:
i = 1
j = 5
k = 1
while i < j :
  print(i)
  i = i+1
else :
  while k < 3:
    print(i)
    k = k+1
  print('this is valid in else condition')

1
2
3
4
5
5
this is valid in else condition

In [ ]:
s = "my name is sudhanshu"

In [ ]:
s

'my name is sudhanshu'

In [ ]:
s[2:-6]

' name is sud'

In [ ]:
s[3:10:2]

'nm s'

In [ ]:
s[::-1]

'uhsnahdus si eman ym'

In [ ]:
s[2:-6]

' name is sud'

In [ ]:
s = "sudh"

In [ ]:
s[0]

's'

In [ ]:
s

'my name is sudhanshu'

# New Section
For Loop

Syntax: for i in sequence:

            Statement 1

            Statement 2

                .

                .
            Statement n

        Statement x

All the 3 Loop controls (Initialization, termination and updation of Loop variable) are performed in the sequence.


Sequence could be any collection (Array, List, tuple, dictionary).

In [ ]:
for i in s:
  print(i)

m
y

n
a
m
e

i
s

s
u
d
h
a
n
s
h
u

In [ ]:
for i in s :
    if i == 's':
        print(" i got s as a string ")
    print(i)

m
y

n
a
m
e

i
 i got s as a string
s

 i got s as a string
s
u
d
h
a
n
 i got s as a string
s
h
u

In [ ]:
  # Example: Factorial

# 5! = 5*4*3*2*1
result = 1

number = int(input("Enter the number"))
for i in range(1, number+1):
  result *= i # result = result * i # 24*5 = 120

print(result)

Enter the number5
120

In [ ]:
s

'my name is sudhanshu'

In [ ]:
for i in s :
  print(i)

else :
  print('this is a valid statement')

m
y

n
a
m
e

i
s

s
u
d
h
a
n
s
h
u
this is a valid statement

In [ ]:
for i in s :
  print(i)

else :
  if i == 'u' :
    print('last character was D')    
  print('this is a valid statement')

m
y

n
a
m
e

i
s

s
u
d
h
a
n
s
h
u
last character was D
this is a valid statement

# Break - 
it will break nearest loop while meet the breaking condition

# continue - 
it will skip one step in nearest looping when condition get satisfied

In [ ]:
for i in s :
  if i == 'a' :
    break
  print(i)

else :
  if i == 'u' :
    print('last character was D')    
  print('this is a valid statement')

m
y

n

In [ ]:
for i in s :
  if i == 'a' :
    continue
  print(i)

else :
  if i == 'd' :
    print('last character was D')    
  print('this is a valid statement')

m
y

n
m
e

i
s

s
u
d
h
n
s
h
u
this is a valid statement

In [ ]:
b = 'ramakrishna'
c = ''

for i in range(len(b)):
  if b[i] == 'a':
    continue
  else :
    c = c + b[i]

print(c)

rmkrishn

In [ ]:
a = 23

for i in range(2, a):
  if a%i == 0: # not True in all cases
    print("Not a prime")
    break
else:
  print('its prime')

its prime

In [ ]:
# zip function
fruits = ("Apple", "Banana", "Cherry")
prices = (50, 25, 60)
c = zip(fruits, prices)
for i in c:
  print(i)

('Apple', 50)
('Banana', 25)
('Cherry', 60)

In [ ]:
# enumerate function
students = ["Prerna", "Akaksha", "Adithya"]
b = enumerate(students, 10)
print(b)
for i in b:
  print(i)

<enumerate object at 0x7f33ed8a1fc0>
(10, 'Prerna')
(11, 'Akaksha')
(12, 'Adithya')

In [ ]:
for i in s :
    if i == "n":
        continue 
    print(i)
else :
    if i == 'u':
        print("last char was u ")
    print("this is a else condtion ")

m
y

a
m
e

i
s

s
u
d
h
a
s
h
u
last char was u
this is a else condtion

In [ ]:
s =  "ineuron"
ss = ""
for i in range(len(s)):
    if s[i] == "n":
        continue
    else :
        ss = ss + s[i]

In [ ]:
ss

'ieuro'

In [ ]:
len(s)

7

In [ ]:
a = "madam"
if a[::-1] == a:
  print("Palindrome")
else:
  print("Not a palindrome")

Palindrome

In [ ]:
a = "python"

reversed_string = ""

for i in a:
  reversed_string = i + reversed_string # 't'+'yp' -> typ
print(reversed_string)

if reversed_string == a:
  print("Palindrome")
else:
  print("not")

nohtyp
not

In [ ]:
# Print largest number
largest_so_for = -1
print('Before', largest_so_for)
for the_num in [9, 41, 12, 3, 74, 15]:
    if the_num > largest_so_for:
        largest_so_for = the_num
print('the large number in given list is :',largest_so_for)

Before -1
the large number in given list is : 74

In [ ]:
d =[9, 41, 12, 3, 74, 15,456,945,2,3,12,45,1,23,9]
c = d[0]
for i in d:
    if i > c :
        c = i
print('max number in given list is : ',c)

max number in given list is :  945

# While vs For loop
While: Indefinite, For: Definite

While: To be used when the number of iterations are unknown. 

For: To be used when the number of iterations are known.

In [ ]:
n = 7 
for i in range(0 ,n):
    for j in range(0 ,i +1):
        print("+ " , end = "")
    print("\r")

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

In [ ]:
n = 5

for i in range (n,0,-1):
  for j in range(0,n-i+1):
    print('+ ',end ='')
  print()

+
+ +
+ + +
+ + + +
+ + + + +

In [ ]:
n = 5
for i in range(0 ,n):
    for j in range(1 ,i +2):
        print(j , end = " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
n = 5
for i in range(0 ,n):
    for j in range(1 ,i +2):
        print(i , end = " ")
    print()

0
1 1
2 2 2
3 3 3 3
4 4 4 4 4

In [ ]:
n = 5

for i in range (n,0,-1):
  for j in range(1,n-i+2):
    print(j ,end =' ')
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
n = 5

for i in range (n,0,-1):
  for j in range(1,n-i+2):
    print(i ,end =' ')
  print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [ ]:
n = 5
a = 0

while a < n :
  b = a+1
  while b > 0:
    print('+', end = ' ')
    b = b-1
  a = a+1
  print()

+
+ +
+ + +
+ + + +
+ + + + +

In [ ]:
n = 5
a = 0

while a < n :
  b = a+1
  while b <= n :
    print(b, end = ' ')
    b = b+1
  a = a+1
  print()

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

In [ ]:
n= 5
a = 5

while a > 0 :
  b = n-a+1
  while b >0 :
    print('+', end = ' ')
    b = b-1
  a = a-1
  print()

+
+ +
+ + +
+ + + +
+ + + + +

In [ ]:
n= 5
a = 5

while a > 0 :
  b = n-a+1
  while b >0 :
    print(b, end = ' ')
    b = b-1
  a = a-1
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
n = 5
for i in range(n,0,-1):
    for j in range(0 ,i ):
        print("+ " , end = "")
    print("\r")

+ + + + +
+ + + +
+ + +
+ +
+

In [ ]:
n = 5
a = 0

while a <n :
  b = n-a 
  while b>0 :
    print('+', end = ' ')
    b = b-1
  a= a+1
  print()

+ + + + +
+ + + +
+ + +
+ +
+

In [ ]:
n = 5
a = 5

while a >0 :
  b = a 
  while b > 0 :
    print('+', end = ' ')
    b = b-1
  a = a-1
  print()

+ + + + +
+ + + +
+ + +
+ +
+

In [ ]:
n = 5
for i in range (0,n):
  for j in range (0,n-i):
    print('+ ',end ='')
  print()

+ + + + +
+ + + +
+ + +
+ +
+

In [ ]:
n = 5
for i in range(0 ,n):
    for j in range(0 ,i +1):
        print("+ " , end = "")
    print("\r")


for i in range (0,n):
  for j in range (1,n-i):
    print('+ ',end ='')
  print()

+
+ +
+ + +
+ + + +
+ + + + +
+ + + +
+ + +
+ +
+

In [ ]:
n = 5

for i in range (0,n):
  for j in range (0,n-i):
    print('+ ',end ='')
  print()

for i in range(0 ,n):
    for j in range(0 ,i +2):
        print("+ " , end = "")
    print("\r")

+ + + + +
+ + + +
+ + +
+ +
+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +

In [ ]:
n = 5
for i in range(n,0,-1):
    for j in range(0 ,i-1 ):
        print(' ' , end = "")

    for k in range (0,n-i+1):
          print('+', end = ' ')
    print()

    +
   + +
  + + +
 + + + +
+ + + + +

In [ ]:
n= int(input('give us number...'))

for i in range(0,n):
  for j in range(0,n-i-1):
    print(' ',end = '')

  for k in range (0,i+1):
    print('+',end = ' ')
  print()

give us number...5
    +
   + +
  + + +
 + + + +
+ + + + +

In [ ]:
n = 5
a = 0

while a < n :
  b = n-a
  c = a
  while b >0 :
        print('  ', end = '')
        b= b-1
  while c >= 0 :
    print('+', end = ' ')
    c = c-1

  a = a+1
  print()

          +
        + +
      + + +
    + + + +
  + + + + +

In [ ]:
n = 5
a = 5

while a > 0:
  b = a
  c = n-a
  while b > 0:
    print('  ',end = '')
    b = b-1
  while c >= 0 :
    print('+', end = ' ')
    c = c-1

  a = a-1
  print()

          +
        + +
      + + +
    + + + +
  + + + + +

In [ ]:
n = 5
for i in range(n):
  for j in range(i+1):
    print('  ',end = '')
  
  for k in range(0,n-i):
    print('+', end  =' ')
  print()

  + + + + +
    + + + +
      + + +
        + +
          +

In [ ]:
n = 5

for i in range(n,0,-1):
  for j in range(0,n-i+1):
    print('  ', end = '')
  for k in range (0,i):
    print('+', end = ' ')
  print()

  + + + + +
    + + + +
      + + +
        + +
          +

In [ ]:
n = 5
a = 0

while a <n :
  b = a+1
  c = n-a
  while b >= 0:
    print('  ', end = '')
    b = b-1

  while c >0 :
    print('+',end = ' ')
    c = c-1
  



  a = a+1
  print()

    + + + + +
      + + + +
        + + +
          + +
            +

In [ ]:
n = int(input('Enter number of rows required: '))

for i in range(n,0,-1):
    for j in range(n-i):
        print(' ', end='') 
    
    for j in range(2*i-1):
        print('*',end='') 
    print()

Enter number of rows required: 7
*************
 ***********
  *********
   *******
    *****
     ***
      *

In [ ]:
num = 5
m = 2 * num - 2
for i in range(num, -1, -1):
    for j in range(m, 0, -1):
        print('',end=" ")
    m = m + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [ ]:
n =9
i=0
while i < n :
    print(' '*(n-i-1) + '* '*(i+1))
    i +=1

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

In [ ]:
i=1
k=1 #for printing starts with the increament of 2

while i<=5:
    b=1
    while b<=5-i:
        print(' ',end='')
        b=b+1
        
    j=1
    while j<=k:
        print('*', end='')
        j=j+1
    print()
    
    k=k+2
    
    i=i+1

    *
   ***
  *****
 *******
*********

In [ ]:
userInput = int(input("Please enter the amount of rows: "))

row = 0
while(row < userInput):
    row += 1
    spaces = userInput - row

    spaces_counter = 0
    while(spaces_counter < spaces):
        print(" ", end='')
        spaces_counter += 1

    num_stars = 2*row-1
    while(num_stars > 0):
        print("*", end='')
        num_stars -= 1

    print()
print("**iNeuron-FSDS**")

Please enter the amount of rows: 7
      *
     ***
    *****
   *******
  *********
 ***********
*************
**iNeuron-FSDS**

In [ ]:
l = list()

In [ ]:
name = "sudh"
phno = 543535345
addr = "sdfsff"

name , phno , addr = "sudh " , 54353453,"fgfd"

In [ ]:
l = ["sudh" , 34535,"sfsfsafa", True, 45+8j , [3,5,6,"dfg"],6.787]

len(l)

7

In [ ]:
range(10)

range(0, 10)

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for  i in range(4,10):
    print(i)

4
5
6
7
8
9

In [ ]:
l[80 :3:1]

[]

In [ ]:
for i in l :
    if type(i) == list:
        n = 0
        for  j in i :
            if type(j) == int :
                n = n + j
        print(n)
                
        print(type(j))

14
<class 'str'>

In [ ]:
type(l)

list

In [ ]:
l1 = []
type(l1)

list

In [ ]:
l2 = list()
type(l2)

list

In [ ]:
type(l1)

list

In [ ]:
l[0]

'sudh'

In [ ]:
l[1]

34535

In [ ]:
l[2]

'sfsfsafa'

In [ ]:
import math
rows = 10

bottom_line_stars = rows
bottom_line_space = rows - 1

start = math.floor((bottom_line_stars + bottom_line_space) / 2)

for i in range(1, (rows + 1)):
  for j in range(0, (rows)):
    if j == start:
      for k in range(i):
        print("*", end = " ")
        print(" ", end = " ")
    else:
      print(" ", end = " ")
  start -= 1
  print(end = "\n")

                  *
                *   *
              *   *   *
            *   *   *   *
          *   *   *   *   *
        *   *   *   *   *   *
      *   *   *   *   *   *   *
    *   *   *   *   *   *   *   *
  *   *   *   *   *   *   *   *   *
*   *   *   *   *   *   *   *   *   *